.search_result {
    position: absolute;
    z-index: 5;
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 2px;
    display: none;
}
.search_result.active {
    display: block;
}
.search_result_item:hover {
    background: #f5f5f5;
}