{% extends "admin/base.html" %}
{% load static i18n admin_urls %}


{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'main:clear_all_cache_view' %}">Очистить кеш</a> /
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>window.CKEDITOR_BASEPATH = "{% static 'ckeditor/ckeditor/' %}";</script>
    {% comment %}
      <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    {% endcomment %}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/libs/jquery.jgrowl.min.css" %}">
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="{% static "js/libs/jquery.jgrowl.min.js" %}"></script>
    <script type="text/javascript" src='{% static "js/admin/cart.js" %}'></script>
    <style>
        .inline-group .tabular tr td {
            vertical-align: top!important;
        }
    </style>
    <script>
        $(document).ready(function () {
            if(window.location.href.split('/')[5] == 'match' && parseInt(window.location.href.split('/')[6])){
                $(".object-tools").prepend('<li><a href="/create_double/' + window.location.href.split('/')[6] + '/">Создать дубль (угадайку)</a></li>')
            }
        })
    </script>
{% endblock %}

{% block nav-global %}{% endblock %}