{% extends "_base.html" %}
{% load i18n %}
{% block container %}
<div class="seasons_page minimum">
    <div class="match__head">
        <span>Страница не найдена</span>
    </div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <span>404</span>
        </div>
        <h1 class="match__h1">Страница не найдена или была удалена...</h1>
        <article class="content seo_text">

        </article>
    </div>
</div>
{% endblock %}