{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
<!DOCTYPE html>
<html lang="{{ lang.code }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        {% if sitesettings.ya_verification %}
            <meta name="yandex-verification" content="{{ sitesettings.ya_verification }}" />
        {% endif %}
        {% if sitesettings.favicon.url %}
            <link rel="icon" type="image/png" sizes="32x32" href="{{ sitesettings.favicon.url }}">
        {% endif %}
        <link rel="canonical" href="//{{ curr_url }}" />
        <link rel="stylesheet" href="{% static 'js/libs/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'js/libs/multiple-select/multiple-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}?ver=16052019">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}?ver=04122019">
        {% if sitesettings.metrics_google %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script src="https://www.googletagmanager.com/gtag/js?id={{ sitesettings.metrics_google }}"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ sitesettings.metrics_google }}'{% if sitesettings.google_optimize %}, { 'optimize_id': '{{ sitesettings.google_optimize }}'}{% endif %});
            </script>
            {% if sitesettings.google_optimize %}
                <!-- Anti-flicker snippet (recommended)  -->
                <style>.async-hide { opacity: 0 !important} </style>
                <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
                h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
                (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
                })(window,document.documentElement,'async-hide','dataLayer',4000,
                {'{{ sitesettings.google_optimize }}':true});</script>
            {% endif %}
        {% endif %}
        {% block extra_styles %}{% endblock %}
        {% block seo_titles %}
        {% endblock %}
        <style>
        {% if sitesettings.loader %}
            .match_loader__img {
                background: url({{ sitesettings.loader.url }}) center no-repeat;
                background-size: contain;
            }
        {% endif %}
        {% if sitesettings.banner_main %}
            .banner,
            .match__head {
                background: url({% if sitesettings.banner_matches and data.alias != 'index' %}{{ sitesettings.banner_matches.url }}{% else %}{{ sitesettings.banner_main.url }}{% endif %}) center top no-repeat;
                background-size: cover;
            }
        {% endif %}
        </style>
        {% if sitesettings.header_extends %}
            {{ sitesettings.header_extends|safe }}
        {% endif %}
    </head>
    <body data-currency='{{ currency.mark }}' data-cur_slug="{{ currency.slug }}">
        <div id="vue-area">
            <div class="header">
                <div class="header__left">
                    <div class="header__menu"><div></div><div></div><div></div></div>
                    <a href="/" class="header__logo">
                        {% if sitesettings.site_logo %}
                            <div class="header__img">
                                <img src="{{ sitesettings.site_logo.url }}" alt="">
                            </div>
                        {% endif %}
                        {{ sitesettings.site_logo_text }}
                    </a>
                    {% if sitesettings.phone != '-' %}
                    {% if sitesettings.phone %}
                        <a href="tel:{{ sitesettings.phone }}" class="header__phone mango_phone">{{ sitesettings.phone }}</a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="header__right">
                    <nav class="header__nav">
                        <a class="certificates_link" href="/certificates/" rel="nofollow">{% trans "Подарочные сертификаты" %}</a>
                        <div class="header_drop">
                            {% trans "О нас" %}
                            <div class="header_drop__menu">
                                <a href="/oferta/" rel="nofollow">{% trans "Оферта" %}</a>
                                <a href="/matches/">{% trans "Матчи" %}</a>
                                <a href="/teams/" rel="nofollow">{% trans "Команды" %}</a>
                                <a href="/news/" rel="nofollow">{% trans "Новости" %}</a>
                                <a href="javascript:" class="callback_buttn">{% trans "Заказать звонок" %}</a>
                                <a href="/contacts/" rel="nofollow">{% trans "Контакты" %}</a>
                                <a href="/arenas/" rel="nofollow">{% trans "Стадионы" %}</a>
                                <a href="/aboutus/" rel="nofollow">{% trans "О нас" %}</a>
                            </div>
                        </div>
                        <a href="/#filtered-section" rel="nofollow">{% trans "Билеты" %}</a>
                        <a href="/delivery/" rel="nofollow">{% trans "Доставка" %}</a>
                    </nav>
                    <div class="currency_toggle">
                        <select id="user_currency" name="user_currency">
                            {% for i in currencys %}
                            <option value="{{ i.pk }}" {% if i.pk == cart.user_currency.pk %}selected{% endif %}>{{ i.mark }} {% if lang.code == 'en' %}{{ i.name_en }}{% else %}{{ i.name }}{% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="header__cart">
                        <div class="header__counter">[[ tickets_count ]]</div>
                    </div>
                    <div class="mini_cart_parrent" style="position: relative;">
                        <div class="mini_cart">
                            <div class="cart_inner">
                                <div class="cart_inner__close"><span>{% trans "Скрыть корзину" %}</span></div>
                                <div class="mini_cart__wrp">
                                    <table data-id="{{ cart.pk }}">
                                        <colgroup><col width="60%"><col width="10%"><col width="20%"><col width="10%"></colgroup>
                                        <tbody>
                                            <tr class="caryall_mini_row" v-for="c in carryall_tickets" :data-id="c.hash">
                                                <td>
                                                    <span>[[ c.event_name ]]</span>
                                                    <br />
                                                    <span><b>[[ c.sector ]]</b>, {% trans "ряд" %} <b>[[ c.row ]]</b>, {% trans "место" %} <b>[[ c.seat ]]</b></span>
                                                </td>
                                                <td class="t_count">[[ c.count ]]</td>
                                                <td>[[ c.price ]] {{ currency.mark }}</td>
                                                <td class="remove_ticket" @click="removeTicketC(c)"></td>
                                            </tr>
                                            <tr class="caryall_mini_row caryall_mini_row-static" v-for="c in static_tickets" :data-pr_id="c.price" :data-id="c.id">
                                                <td>
                                                    <span>[[ c.event_name ]]</span>
                                                    <br />
                                                    <span>{% trans "Сектор" %}: <b>[[ c.sector ]]</b></span>
                                                </td>
                                                <td>[[ c.count ]]</td>
                                                <td>[[ c.price_val ]] {{ currency.mark }}</td>
                                                <td class="remove_ticket" @click="removeTicketS(c)"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mini_cart__summa"><b>{% trans "Итого" %}:</b> <span>[[ tickets_price ]]</span> {{ currency.mark }}</div>
                            </div>
                            <a href="/checkout/" rel="nofollow">{% trans "Оформить заказ" %}</a>
                        </div>
                    </div>
                    <div class="mobile_sector">
                        <div class="mobile_sector__text">
                            <div class="mobile_sector__title">
                                <span class="mobile_sector__title-title"></span>
                                <span class="mobile_sector__title-ac">{% trans "АКЦИЯ" %}!</span>
                            </div>
                            <div class="mobile_sector__price">{% trans "от" %} <span></span> {{ currency.mark }}</div>
                        </div>
                        <div class="mobile_sector__button">{% trans "открыть сектор" %}</div>
                    </div>
                </div>
            </div>
            {% block container %}
            {% endblock %}
            {% block footer %}
                <div class="footer">
                    <div class="wrapper">
                        <div class="footer__wrp">
                            <a href="/" class="header__logo header__logo-footer">
                                {% if sitesettings.site_logo %}
                                    <div class="header__img">
                                        <img src="{{ sitesettings.site_logo.url }}" alt="">
                                    </div>
                                {% endif %}
                                {{ sitesettings.site_logo_text }}
                            </a>
                            <nav class="footer__nav">
                                <a href="/">{% trans "Главная" %}</a>
                                <a href="/matches/">{% trans "Матчи" %}</a>
                                <a href="/champs/" rel="nofollow">{% trans "Чемпионаты" %}</a>
                                <a href="/arenas/" rel="nofollow">{% trans "Стадионы" %}</a>
                                <a href="/contacts/" rel="nofollow">{% trans "Контакты" %}</a>
                            </nav>
                            <div class="footer__right">
                                {% if sitesettings.phone != '-' %}
                                {% if sitesettings.phone %}
                                    <a href="tel:{{ sitesettings.phone }}" class="footer__phone mango_phone">{{ sitesettings.phone }}</a>
                                {% endif %}
                                {% endif %}
                                <img width="200" src="{% static 'img/banner__pay.svg' %}">
                            </div>
                        </div>
                        <div class="footer__text">{% trans "Консьерж-сервис по оказанию услуг по подбору, бронированию и доставке билетов. Не является официальным сайтом" %}.</div>
                    </div>
                </div>
            {% endblock %}
            <div id="callback_modal" class="modal callback_form">
                <div class="modal__callback">
                    <div class="close_button modal__close"></div>
                    <form class="corporate__form">
                        <div class="corporate__inputs">
                            <div class="corporate__input required">
                                <label for="name">{% trans "Имя" %}</label>
                                <input id="name" name="name" type="text" required>
                            </div>
                            <div class="corporate__input required">
                                <label for="phone">{% trans "Телефон" %}</label>
                                <input id="phone" name="phone" type="tel" autocomplete="off" required>
                            </div>
                            <div class="corporate__textarea">
                                <label for="comment">{% trans "Комментарий" %}</label>
                                <textarea id="comment"></textarea>
                            </div>
                            <button class="support__button" onclick="return false;">{% trans "Заказать звонок" %}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="callback_modal" class="modal thx" data-bbb="1">
                <div class="modal__callback modal__callback-thanks">
                    <div class="close_button modal__close"></div>
                    <div class="thanks__top">{% trans "Ваша заявка принята" %}.</div>
                    <div class="thanks__text">{% trans "Номер заявки" %} #<span class="order_id">-1</span></div>
                    <div class="thanks__text">{% trans "Наши менеджеры свяжутся с Вами в ближайшее время" %}.</div>
                    {% if sitesettings.success %}
                        <img src="{{ sitesettings.success.url }}" alt="">
                    {% else %}
                        <img src="{% static 'img/success.svg' %}" alt="">
                    {% endif %}
                </div>
            </div>
            <script>
                var cart_id = '{{ cart.pk }}'
            </script>
            <input type="hidden" name="csrf" value="{{ c.csrf_token }}">
            <script src="{% static 'js/libs/jquery/jquery.js' %}"></script>
            <script src="{% static 'js/libs/slick/slick.min.js' %}"></script>
            <script src="{% static 'js/libs/multiple-select/multiple-select.js' %}"></script>
            <script src="{% static 'js/csrf.js' %}"></script>
            <script >
                // Манипулейшн афтер лоад пэйдж
                var added_ticks = [],
                    cur_slug = $("body").data("cur_slug");

                for (i = 0; i < added_ticks.length; i++) {
                    $('.map_table__check[data-hash=' + added_ticks[i] + ']').addClass('active');
                    $('.map_table__check[data-hash=' + added_ticks[i] + ']').parents('tr').addClass('active');
                }

                window.callback_match_info = {
                    "name": '',
                    "datetime": ''
                }

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                function color_filtr_sheme () {
                    {% if sitesettings.metrics_yandex %}
                        setTimeout(function () {
                            if (window.hasOwnProperty('yaCounter{{ sitesettings.metrics_yandex }}')) {
                                yaCounter{{ sitesettings.metrics_yandex }}.reachGoal('color-filtr-sheme');
                            }
                        }, 1000);
                    {% endif %}

                    {% if sitesettings.metrics_google %}
                        gtag('event', 'color-filter', { 'event_category': 'scheme' });
                    {% endif %}
                }

                function custom_filtr () {
                    {% if sitesettings.metrics_yandex %}
                        setTimeout(function () {
                            if (window.hasOwnProperty('yaCounter{{ sitesettings.metrics_yandex }}')) {
                                yaCounter{{ sitesettings.metrics_yandex }}.reachGoal('custom-filter-scheme');
                            }
                        }, 1000);
                    {% endif %}

                    {% if sitesettings.metrics_google %}
                        gtag('event', 'custom-filter', { 'event_category': 'scheme' });
                    {% endif %}
                }
            </script>
            <script  src="{% static 'js/script.js' %}"></script>
            {% if sitesettings.metrics_yandex %}
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript" >
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function() {
                            try {
                                w.yaCounter{{ sitesettings.metrics_yandex }} = new Ya.Metrika2({
                                    id:{{ sitesettings.metrics_yandex }},
                                    clickmap:true,
                                    trackLinks:true,
                                    accurateTrackBounce:true,
                                    webvisor:true,
                                    ecommerce:"dataLayer"
                                });
                            } catch(e) { }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/tag.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                    })(document, window, "yandex_metrika_callbacks2");
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/{{ site_settings.metrics_yandex }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
            {% endif %}
            {% if sitesettings.mango_phone %}
            <script>
                (function(w, d, u, i, o, s, p) {
                    if (d.getElementById(i)) { return; } w['MangoObject'] = o;
                    w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) }; w[o].u = u; w[o].t = 1 * new Date();
                    s = d.createElement('script'); s.async = 1; s.id = i; s.src = u;
                    p = d.getElementsByTagName('script')[0]; p.parentNode.insertBefore(s, p);
                }(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
                mgo({calltracking: {id: {{ sitesettings.mango_phone }}, elements: [{"selector":".mango_phone"}]}});
            </script>
            {% endif %}
            {% if sitesettings.jivosite %}
            <!-- BEGIN JIVOSITE CODE {literal} -->
            <script type='text/javascript'>
            (function(){ var widget_id = '{{ sitesettings.jivosite }}';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
            <!-- {/literal} END JIVOSITE CODE -->
            <div class="info_block">
                <div class="info_block__block">
                    <div class="info_block__show info_block__show-jivo">
                        <div class="info_block__img info_block__img-2"></div>
                        <div class="info_block__text">Начать чат</div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    //jivosite trigger
                    $('body').on('click', '.info_block__show-jivo', function(){
                        $('.globalClass_ET').fadeIn();
                        $('.hoverl_6R').trigger('click');
                    })
                })
            </script>
            {% endif %}
            {% include "inc/sendsay.html" %}
            {% block extra_scripts %}
            {% endblock %}
            <script src="{% static 'js/vue.min.js' %}"></script>
            <script src="{% static 'js/main-vue.js' %}?ver=04122019"></script>
        </div>
    </body>
</html>