{% load i18n %}
<div class="corporate" id="corporate-clients">
    <div class="corporate__image {% if sitesettings.site_logo_text == 'spartak-tickets.ru' %}corporate__image-spartak{% endif %}"></div>
    <div class="wrapper">
        <div class="corporate__wrp">
            <form class="corporate__form">
                <span class="support__h2 support__h2-corporate">{% trans "Корпоративным клиентам" %}</span>
                <div class="corporate__inputs">
                    <div class="corporate__input required">
                        <label for="name">{% trans "Имя" %}</label>
                        <input id="name" name="name" type="text" required>
                    </div>
                    <div class="corporate__input required">
                        <label for="phone">{% trans "Телефон" %}</label>
                        <input id="phone" name="phone" type="tel" autocomplete="off" required>
                    </div>
                    <div class="corporate__input">
                        <label for="count">{% trans "Количество человек" %}</label>
                        <input id="count" name="count" type="number" min="1">
                    </div>
                    <div class="corporate__input">
                        <label for="email">{% trans "Ваш E-mail" %}</label>
                        <input id="email" name="email" type="email">
                    </div>
                    <div class="corporate__input required corporate__textarea">
                        <label for="match">{% trans "Выберите матч" %}</label>
                        <select id="match" name="match" required>
                            <option value="0"></option>
                            {% for m in self_matches_all %}
                                <option value="{{ m.pk }}">{{ m.name }} {{ m.datetime|date:"d.m.Y" }} {{ m.stadium.name  }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="corporate__textarea">
                        <label for="comment">{% trans "Комментарий" %}</label>
                        <textarea id="comment" name="comment"></textarea>
                    </div>
                    <button class="support__button" onclick="return false;">{% trans "Отправить" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>