{% load i18n %}
<div class="championat__element matches_el" data-team-1="{{ m.command_first.id }}" data-team-2="{{ m.command_second.id }}" champ_id="{{ m.champ.id }}" data-match_name="{{ m.name }}" data-datetime="{{ m.datetime|date:'Y-m-d H:i' }}">
    <div class="matches_el__left">
        <div class="matches_el__img">
            <img src="{% if m.command_first.logo2 %}{{ m.command_first.logo2.url }}{% endif %}" alt="" width="56px">
        </div>
        <div class="matches_el__img">
            <img src="{% if m.command_second.logo2 %}{{ m.command_second.logo2.url }}{% endif %}" alt="" width="56px">
        </div>
    </div>
    <div class="matches_el__right">
        <div class="matches_el__main">
            <div class="matches_el__title">
                <a href="{% url 'engine:team' m.command_first.alias %}">{{ m.command_first.name }}</a>
                <span>{% if not m.score %}vs{% else %}{{ m.score }}{% endif %}</span>
                <a href="{% url 'engine:team' m.command_second.alias %}">{{ m.command_second.name }}</a>
            </div>
            <div class="matches_el__date">{% if m.datetime_tz %}{{ m.datetime_tz|date:"j F, l, H:i" }}{% else %}{{ m.datetime|date:"j F, l, H:i" }}{% endif %}</div>
            <div class="matches_el__loсation">
                {% if m.stadium.city.name or m.stadium.name %}
                    {{ m.stadium.city.name }}, <a href="{% url 'engine:arena' m.stadium.alias %}">{{ m.stadium.name }}</a>
                {% endif %}
            </div>
            <div class="matches_el__bottom">
                {% if m.carryall_id or m.static_tickets.all|length %}
                    <a href="{% url 'engine:match' m.static_match.alias m.alias %}" class="matches_el__link">
                        {% trans "Выбрать билеты" %}
                    </a>
                {% else %}
                    {% if m.hide_match %}
                        <a href="javascript:" class="matches_el__link" style="opacity: 0;">
                            {% trans "Оставить заявку" %}
                        </a>
                    {% else %}
                        <a href="javascript:" class="matches_el__link championat__button-request">
                            {% trans "Оставить заявку" %}
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'engine:match_preview' m.static_match.alias %}" class="matches_el__more">{% trans "Подробно о матче" %}</a>
            </div>
        </div>
        {% if m.champ.image %}
            <div class="matches_el__league" style="background-image: url({{ m.champ.image.url }});"></div>
        {% endif %}
    </div>
</div>