<div href="javascript:" class="championat__element" data-team-1="{{ m.command_first.id }}" data-team-2="{{ m.command_second.id }}" champ_id="{{ m.champ.id }}" data-match_name="{{ m.name }}" data-datetime="{{ m.datetime|date:'Y-m-d H:i' }}">
    <div class="championat__right" style="width: 100%; padding-left: 0;">
        <div class="championat__top">
            <div class="championat__team">
                <div class="championat__image {% if m.command_first.id == 226 %}{{ m.id }}{% endif %}" style="background: url(/media/teams/{{ m.command_first.logo }}) center no-repeat; background-size: contain;">
                    <img src="https://footballengine.tix-system.com/media/teams/{{ m.command_first.logo }}" width="56px">
                </div>
                <div class="championat__name">{{ m.command_first.name }}</div>
            </div>
            <div class="championat__line"></div>
            <div class="championat__team">
                <div class="championat__name">{{ m.command_second.name }}</div>
                <div class="championat__image {% if m.command_second.id == 226 %}{{ m.id }}{% endif %}" style="background: url(/media/teams/{{ m.command_second.logo }}) center no-repeat; background-size: contain;">
                    <img src="https://footballengine.tix-system.com/media/teams/{{ m.command_second.logo }}" width="56px">
                </div>
            </div>
        </div>
        <div class="championat__bottom" style="display: block;">
            <div class="half_width championat__location" style="font-size: 12px;">
            {% if m.stadium.city.name or m.stadium.name %}
                {{ m.stadium.city.name }}, {{ m.stadium.name }}
            {% else %}
                <div></div>
            {% endif %}
            </div>
            <div class="half_width">
                <a href="{% url 'engine:match_preview' m.static_match.alias %}"><div style="margin-left: 15px; float: right; margin-bottom: 5px;" class="championat__button">Подробнее</div></a>
                {% if m.carryall_id or m.static_tickets.all|length %}<a href="{% url 'engine:match' m.static_match.alias m.alias %}"><div style="margin-left: 15px; float: right;" class="championat__button">{% trans "Выбрать билеты" %}</div></a>{% else %}<div style="margin-left: 15px; float: right;" class="championat__button championat__button-request">{% trans "Оставить заявку" %}</div>{% endif %}
            </div>
        </div>
    </div>
</div>
