{% load i18n %}
<a href="{% url 'engine:match' m.static_match.alias m.alias %}" class="championat__element"  data-team-1="{{ m.command_first.id }}" data-team-2="{{ m.command_second.id }}" champ_id="{{ m.champ.id }}" data-match_name="{{ m.name }}" data-datetime="{{ m.datetime|date:'Y-m-d H:i' }}">
    <div class="championat__left">
        <div class="championat__date">{% if m.datetime_tz %}{{ m.datetime_tz|date:"d" }}{% else %}{{ m.datetime|date:"d" }}{% endif %}</div>
        <div class="championat__month">{% if m.datetime_tz %}{{ m.datetime_tz|date:"F" }}{% else %}{{ m.datetime|date:"F" }}{% endif %}</div>
        <div class="championat__day">{% if m.datetime_tz %}{{ m.datetime_tz|date:"D" }} {{ m.datetime_tz|date:"H:i" }}{% else %}{{ m.datetime|date:"D" }} {{ m.datetime|date:"H:i" }}{% endif %}</div>
        <div class="championat__logo"><img width="50px" src="{% if m.champ.image %}{{ data.champ.image.url }}{% endif %}"></div>
    </div>
    <div class="championat__right">
        <div class="championat__top">
            <div class="championat__team">
                <div class="championat__image">
                    <img src="{% if m.command_first.logo2 %}{{ m.command_first.logo2.url }}{% endif %}" width="56px">
                </div>
                <div class="championat__name">{{ data.command_first.name }}</div>
            </div>
            {% if m.score %}<div class="score_match_item" style="font-size: 20px; position: relative; top: 5px; color: red;">{{ data.score }}</div>{% else %}<div class="championat__line"></div>{% endif %}
            <div class="championat__team">
                <div class="championat__name">{{ data.command_second.name }}</div>
                <div class="championat__image">
                    <img src="{% if m.command_second.logo2 %}{{ m.command_second.logo2.url }}{% endif %}" width="56px">
                </div>
            </div>
        </div>
        <div class="championat__bottom">
            {% if m.stadium.city.name or m.stadium.name %}
                <div class="championat__location">{{ data.stadium.city.name }}, {{ data.stadium.name }}</div>
            {% else %}
                <div></div>
            {% endif %}
            {% if m.carryall_id or m.static_tickets.all|length %}<div class="championat__button">{% trans "Выбрать билеты" %}</div>{% else %}<div class="championat__button championat__button-request">{% trans "Оставить заявку" %}</div> {% endif %}
        </div>
    </div>
</a>