{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="stadium_page minimum">
    <div class="match__head"><span>{% trans "Стадионы" %}</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <span>{% trans "Стадионы" %}</span>
        </div>
        <h1 class="match__h1">{% if data.seo_h1 %}{% else %}{% trans "Стадионы" %}{% endif %}</h1>
        <div class="stadium_page__wrp">
            {% comment %}
            {% if sitesettings.site_stadiums.all %}
                {% for s in sitesettings.site_stadiums.all %}
                <a href="{% url 'engine:arena' s.alias %}" class="stadium_page__stadium">
                    <div class="stadium_page__image" style="background: url({% if s.photo %}{{ s.photo.url }}{% else %}/media/default_stadium.png{% endif %}) center no-repeat; background-size: contain;"></div>
                    <div class="stadium_page__right">
                        <div class="stadium_page__title">{{ s.name }}</div>
                        <div class="stadium_page__description">{% for i in s.static.all %}{% if i.host == sitesettings.host %}{{ i.content|striptags|truncatechars:140|safe }}{% endif %}{% endfor %}</div>
                        <div class="stadium_page__more">{% trans "Подробнее" %}</div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
            {% endcomment %}
            {% for s in stads %}
                <a href="{% url 'engine:arena' s.alias %}" class="stadium_page__stadium">
                    <div class="stadium_page__image" style="background: url({% if s.photo %}{{ s.photo.url }}{% else %}/media/default_stadium.png{% endif %}) center no-repeat; background-size: contain;"></div>
                    <div class="stadium_page__right">
                        <div class="stadium_page__title">{{ s.name }}</div>
                        <div class="stadium_page__description">{{ s.current_site_description }}</div>
                        <div class="stadium_page__more">{% trans "Подробнее" %}</div>
                    </div>
                </a>
            {% endfor %}
            <div class="search_nav">
                <div class="search_nav__help">{{ stads.start_index }}—{{ stads.end_index }}</div>
                {% if stads.has_previous %}
                <a href="?page={{ pag }}{{ stads.previous_page_number }}"><div class="search_nav__next">← назад</div></a>
                {% endif %}
                <div class="search_nav__navs">
                    {% for pag in stads.paginator.page_range %}
                        {% if pag == stads.number %}
                            <div class="search_nav__nav">{{ pag }}</div>
                        {% else %}
                            <a href="?page={{ pag }}"><div class="search_nav__nav">{{ pag }}</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if stads.has_next %}
                <a href="?page={{ pag }}{{ stads.next_page_number }}"><div class="search_nav__next">далее →</div></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}