{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ seo_title.stadium }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ seo_description.stadium }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ seo_keywords.stadium }}{% endif %}">
{% endblock %}

{% block container %}
<div class="team_page minimum">
    <div class="match__head"><span>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <a href="/arenas/">{% trans "Стадионы" %}</a>
            <span>{{ data.name }}</span>
        </div>
        <h1 class="match__h1">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ seo_h1.stadium }}{% endif %}</h1>
    </div>
    <div class="seo_text">
        <div class="wrapper">
            {{ data.content|safe }}
        </div>
    </div>
    <div class="team_grey">
        <div class="wrapper">
            <h2 class="match__h2">{% trans "Все матчи на стадионе" %} {{ data.name }}</h2>
            <div class="championat">
                <div class="championat__wrp">
                    {% for m in stad_matches %}
                        {% include "_match-item-matches.html"%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}