{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автоновости (beta)</title>
</head>
<body>
    <h1 style="text-align: center;">Автоновости (beta)</h1>
    {% if item == 1 %}
    {% for c in champs %}
    <a style="overflow: hidden; display: block;" href="?champ={{ c.id }}">
        <img style="float: left;" src="{% if c.image %}{{c.image.url}}{% endif %}" width="75px" height="75px">
        <span style="float: left; line-height: 75px; margin-left: 10px;">{{ c }}</span>
    </a>
    {% endfor %}
    {% elif item == 2 %}
    {% for m in matches %}
    <div class="match_item">
        <div class="match_row" style="overflow: hidden;">
            <img src="{% if m.command_first.logo2 %}{{ m.command_first.logo2.url }}{% endif %}" width="56px">
            <span>{{ m.command_first.name }} {{ m.score }} {{ m.command_second.name }}</span>
            <img src="{% if m.command_second.logo2 %}{{ m.command_second.logo2.url }}{% endif %}" width="56px">
            <span style="margin-left: 10px;">{{ m.datetime }}</span>
            <span style="float: right;">{{ m.news_ready }} из {{ m.news_potential }}</span>
        </div>
        <div class="news_on_sites">
            {% for i in m.news_for_match %}
                <div class="news_item" style="{% if i.1 %}opacity: 0.2;{% endif %}">
                    {{ i.0 }} - {% if i.1 %}Есть новость{% else %} Новости нету <div data-host="{{ i.0.pk }}" data-pk="{{ m.pk }}" data-url="{{ m.alias }}-result-{{ m.score.0}}-{{ m.score.2 }}" class="create_news">Создать новость</div>{% endif %}
                    <div class="new_content">
                        <div class="name"></div>
                        <div class="h1"></div>
                        <div class="content"></div>
                        <div class="publish">Опубликовать новость</div>
                        <a href="#" class="alias"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <style>
        .match_item {
            overflow: hidden;
            display: block;
            border: 1px solid #000000;
            width: 50%;
            margin: 0 auto 5px;
            cursor: pointer;
            padding: 0 10px;
        }
        .publish {
            display: none;
            float: right;
            background: dodgerblue;
            padding: 3px 5px;
            border: #333;
            margin-right: 6px;
            border-radius: 3px;
            transition: all 300ms ease;
        }
        .publish:hover {
            opacity: .5;
        }
        .publish.active {
            display: block;
        }
        .match_item .match_row > img {
            display: inline-block;
            float: left;
        }
        .match_item .match_row > span {
            display: inline-block;
            float: left; line-height: 56px;
        }
        .news_on_sites {
            display: none;
            overflow: hidden;
            width: 100%;
            border-top: 1px solid #000;
            margin: 10px 0;
            float: left;
            padding: 10px 0;
        }
        .active .news_on_sites {
            display: block;
        }
        .news_item {
            border: 1px solid #000;
            padding: 3px 5px;
            margin-bottom: 4px;
            overflow: hidden;
        }
        .news_item .create_news {
            float: right;
            border: 1px solid green;
            color: green;
            padding: 3px 5px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        .news_item .create_news:hover {
            color: #fff;
            background: green;
        }
        .new_content {
            overflow: hidden;
            border: 1px solid #000;
            width: 100%;
            margin-top: 4px;
            float: left;
            padding: 5px;
        }
        textarea {
            width: 100%;
        }
        textarea[name=content] {
            min-height: 200px;
        }
    </style>
    <input type="hidden" name="csrf" value="{{ c.csrf_token }}">
    <script>
        var csrf = '{{ c.csrf_token }}';
    </script>
    <script src="{% static 'js/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.match_row').click(function () {
                if($(this).parent().hasClass('active')){
                    $(this).parent().removeClass('active')
                }
                else{
                    $(this).parent().addClass('active')
                }
            })
            $('.create_news').click(function () {
                _this = $(this)
                pk = $(this).data('pk')
                type = 'get-template'
                host = $(this).data('host')
                $.ajax({
                    url: '/auto-news/',
                    method: "POST",
                    data: { type: type, pk : pk, host : host, csrfmiddlewaretoken: getCookie('csrftoken')},
                    success: function (data, textStatus){
                        data = JSON.parse(data)
                        _this.siblings('.new_content').find('.name').html('[name] : <br>' + '<textarea name="name">' + data['name'] + '</textarea>')
                        _this.siblings('.new_content').find('.h1').html('[h1] : <br>' + '<textarea name="h1">' + data['h1'] + '</textarea>')
                        _this.siblings('.new_content').find('.content').html('[content] : <br>' + '<textarea name="content">' + data['content'] + '</textarea>')
                        _this.siblings('.new_content').find('.publish').addClass('active')
                    }
                })
            })

            $('.news_item').on('click', '.publish.active', function () {
                thiiis = $(this)
                name = $(this).parents('.new_content').find('textarea[name=name]').val()
                h_one = $(this).parents('.new_content').find('textarea[name=h1]').val()
                content = $(this).parents('.new_content').find('textarea[name=content]').val()
                match_id = $(this).parents('.news_item').find('.create_news').data('pk')
                url = $(this).parents('.news_item').find('.create_news').data('url')
                host = $(this).parents('.news_item').find('.create_news').data('host')
                type = 'create-news'
                console.log(h_one, name)
                $.ajax({
                    url: '/auto-news/',
                    method: "POST",
                    data: {
                        type: type,
                        host: host,
                        h_one : h_one,
                        name: name,
                        content: content,
                        url: url,
                        match_id: match_id,
                        csrfmiddlewaretoken: getCookie('csrftoken')
                    },
                    success: function (data, textStatus){
                        thiiis.parents('.news_item').find('.alias').attr('href', data)
                        thiiis.parents('.news_item').find('.alias').html(data)
                    }
                })
            })
        })
    </script>
    {% endif %}
</body>
</html>