{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/control_p.css' %}">
    <meta charset="UTF-8">
    <title>Управление сайтом (бета)</title>
</head>
<body>
{% if not user.is_authenticated %}
    <div id="vue-app">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Создать матч</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stadiums" role="tab" aria-controls="profile" aria-selected="true">Спарсить стадионы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stadiums_update" role="tab" aria-controls="profile" aria-selected="true">Обновить матчам стадионы</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-md-7">
                    <div class="form-check">
                        <h2>Команды:</h2>
                        <label class="form-check-label">
                            <span>Команда 1:</span>
                            <input class="form-control autosearch" name="team" type="text" v-model="match.command_first.name" data-field="command_first">
                            <div class="search_result" :class="storage.command_first.length ? 'active' : ''">
                                <div class="search_result_item" v-for="t in storage.command_first" @click="set_value(t, $event)" v-html="t.name + '(' + t.team_type_display + ')'"></div>
                            </div>
                        </label>
                        <label class="form-check-label">
                            <span>Команда 2:</span>
                            <input class="form-control autosearch" name="team" type="text" v-model="match.command_second.name" data-field="command_second">
                            <div class="search_result" :class="storage.command_second.length ? 'active' : ''">
                                <div class="search_result_item" v-for="t in storage.command_second" @click="set_value(t, $event)" v-html="t.name + '(' + t.team_type_display + ')'"></div>
                            </div>
                        </label>
                        <label class="form-check-label">
                            <span>Создать команду ( если нет нужной ):</span>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Добавить
                            </button>
                        </label>
                    </div>
                    <div class="form-check">
                        <h2>Инфо о матче:</h2>
                        <label class="form-check-label">
                            <span>Стадион:</span>
                            <input class="form-control autosearch" name="stadium" type="text" v-model="match.stadium.name" data-field="stadium">
                            <div class="search_result" :class="storage.stadium.length ? 'active' : ''">
                                <div class="search_result_item" v-for="t in storage.stadium" @click="set_value(t, $event)" v-html="t.name"></div>
                            </div>
                        </label>
                        <label class="form-check-label">
                            <span>Чемпионат:</span>
                            <input class="form-control autosearch" name="champ" type="text" v-model="match.champ.name"  data-field="champ">
                            <div class="search_result" :class="storage.champ.length ? 'active' : ''">
                                <div class="search_result_item" v-for="t in storage.champ" @click="set_value(t, $event)" v-html="t.name + ' ' + t.champ_year"></div>
                            </div>
                        </label>
                        <label class="form-check-label">
                            <span>Дата мероприятия:</span>
                            <input class="form-control" type="datetime-local" v-model="match.datetime.date" data-field="datetime">
                        </label>
                        <label class="form-check-label">
                            <span>Группа:</span>
                            <input class="form-control" type="text" v-model="match.group">
                        </label>
                        <div class="">
                            <a :href="resp.match" v-if="resp.match" v-html="'ссылка на матч'"></a><br>
                            <a :href="resp.staticmatch" v-if="resp.staticmatch" v-html="'ссылка на превью матча'"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2>Результат:</h2>
                    <div class="col-md-12" v-for="item in match">
                        <span v-html="item.name" v-if="item.pk"></span>
                        <span v-if="item.team_type_display" v-html="' (' + item.team_type_display + ')'"></span>
                        <span v-if="item.champ_year" v-html="' (' + item.champ_year + ')'"></span>
                        <span v-if="item.field == 'date'" v-html="match.datetime.date"></span>
                    </div>
                    <span v-html="match.group"></span>
                    <button class="btn btn-primary" v-if="match.command_first.pk && match.command_second.pk && match.stadium.pk && match.champ.pk && match.datetime.date" @click="create_match()">Создать матч</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Создать команду</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>
                                    <span>Название:</span>
                                    <input class="form-control" type="text" v-model="team.name">
                                </label>
                                <br>
                                    <span>Тип спорта:</span>
                                    <br>
                                    {% for i in types_s %}
                                        <label>
                                            {{ i.1 }} <input type="radio" name="type" value="{{ i.0 }}" v-model="team.team_type">
                                        </label>
                                        <br>
                                    {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary" @click="create_team()">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="stadiums_update" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-md-7">
                    <div class="form-check">
                        <h2>Чемпионат:</h2>
                        <span>Сначало нужно проставить стадионы командам, потом выбираем чемпионат и жмем обновить</span><br />
                        <span v-if="champs.champ_year" v-html="'Год выбранного чемпионата - ' + champs.champ_year" style="color: green;"></span>
                        <label class="form-check-label" style="width: 600px;">
                            <input class="form-control autosearch" name="champ" type="text" v-model="champs.name" data-field="champ" placeholder="Название чемпионата">
                        </label>
                        <div class="search_result" :class="storage.champ.length ? 'active' : ''">
                            <div class="search_result_item" v-for="t in storage.champ" @click="set_value2(t, $event)" v-html="t.name + ' ' + t.champ_year"></div>
                        </div>
                        <button type="button" class="btn btn-primary" @click="updateStadiums()">
                            Обновить
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="stadiums" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-md-12">
                    <div class="form-check">
                        <h2>Урл:</h2>
                        <span>Парсим стадионы чемпионата, пример - <a href="https://www.championat.com/basketball/_vtbleague/tournament/3197/stadiums/" target="_blank">ссылка</a></span><br />
                        <label class="form-check-label" style="width: 600px;">
                            <input class="form-control" name="team" type="text" placeholder="" v-model="stadiums" data-field="command_first">
                        </label>
                        <button type="button" class="btn btn-primary" @click="parseStadiums()">
                            Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="csrf" value="{{ c.csrf_token }}">
    <script>
        var csrf = '{{ c.csrf_token }}';
    </script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/vue-app.js' %}"></script>
    <style>
        .form-check-label {
            width: 250px;
        }
        .form-control {
            font-size: 12px;
        }
        .tab-content > .active {
            padding-top: 20px;
            display: flex;
        }
        .form-check-label input {
            margin-top: 7px;
        }
        .form-check-label span {
            font-size: 11px;
        }
    </style>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
{% else %}
404
{% endif %}
</body>
</html>