{% extends "_base.html" %}

{% load static i18n %}

{% block seo_titles %}
    <title>{% trans "Подарочные сертификаты" %}</title>
{% endblock %}

{% block container %}
<div class="cert_page">
    <div class="wrapper">
        <div class="cert_top">
            <div class="cert_top__titles">
                <h1 class="cert_top__h1">{% trans "Подарочные сертификаты" %}</h1>
            </div>
            <div class="cert_next">
                <div class="cert_next__img" style="background-image: url({% static 'img/cert_next__img.jpg' %})"></div>
                <div class="cert_next__right">
                    <div class="cert_next__top">Ближайший праздник:</div>
                    <div class="cert_next__title">Праздник Весны и Труда</div>
                    <div class="cert_next__date">01 мая</div>
                </div>
            </div>
        </div>
        <div class="cert_ban">
            <div class="cert_ban__left">
                <article class="cert_ban__block">
                    <h3 class="cert_ban__h3">Идеальный подарок для друзей и родных</h3>
                    <div class="cert_ban__text">Владелец подарочного сертификата может выбрать любое мероприятие, указанное в афише.</div>
                </article>
                <article class="cert_ban__block">
                    <h3 class="cert_ban__h3">Номинал сертификата устанавливается вами!</h3>
                    <div class="cert_ban__text">Номинал подарочного сертификата не ограничен и может быть установлен именно вами.</div>
                </article>
            </div>
            <div onclick="$('html, body').animate({scrollTop: $('.cert_certs').position().top - 30}, 500); return false;" class="cert_ban__button">Выберите сертификат</div>
        </div>
        <div class="cert_utps">
            <article class="cert_utps__utp">
                <div class="cert_utps__number">1</div>
                <div class="cert_utps__right">
                    <h3 class="cert_utps__h3">VIP-менеджер</h3>
                    <div class="cert_utps__text">Вы можете обратиться к менеджеру в любое время, попросить подобрать афишу или заказать столик в ресторане в день мероприятия. Не стесняйтесь спросить.</div>
                </div>
            </article>
            <article class="cert_utps__utp">
                <div class="cert_utps__number">2</div>
                <div class="cert_utps__right">
                    <h3 class="cert_utps__h3">Все билеты в одном месте</h3>
                    <div class="cert_utps__text">На нашей схеме вы найдете все предложения по билетам: от организаторов и контрагентов, а также билеты частных лиц, которые не могут пойти на мероприятие.</div>
                </div>
            </article>
            <article class="cert_utps__utp">
                <div class="cert_utps__number">3</div>
                <div class="cert_utps__right">
                    <h3 class="cert_utps__h3">Бесплатная доставка</h3>
                    <div class="cert_utps__text">Наша служба доставки насчитывает более 50 курьеров, поэтому ваши билеты будут доставлены сразу же после заказа.</div>
                </div>
            </article>
            <article class="cert_utps__utp">
                <div class="cert_utps__number">4</div>
                <div class="cert_utps__right">
                    <h3 class="cert_utps__h3">Лучшие места</h3>
                    <div class="cert_utps__text">У нас широкая партнерская сеть, поэтому мы предлагаем лучшие места на каждое мероприятие. Если нужных билетов нет на сайте, сделаем «Под запрос».</div>
                </div>
            </article>
        </div>
        <div class="cert_line"></div>
        <div class="cert_certs">
            <h2 class="cert_certs__h2">По какому поводу вы хотите подарить сертификат?</h2>
            <div class="cert_certs__wrp">
                {% for s in certificates %}
                <article class="cert_certs__block">
                    <div class="cert_certs__img" style="background-image: url({{ s.image.url }})">
                        <h3 class="cert_certs__h3">{{ s.name }}</h3>
                        <div class="cert_certs__row">
                            <div class="cert_certs__button">Выбрать</div>
                            <div class="cert_certs__bought">Сегодня куплено: <span>3</span></div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        <div class="cert_overlay"></div>
        <div class="cert_window">
            <div class="cert_window__close"></div>
            <h3 class="cert_window__h3">Оформление сертификата: "<span></span>"</h3>
            <form id="certificate-form" class="cert_window__wrp cert_form" action="" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ c.csrf_token }}">
                <div class="cert_window__image" style="background-image: url({% static 'img/cert_certs__img-1.jpg' %})"></div>
                <div class="cert_window__form">
                    <div class="cert_window__input">
                        {{ form.name }}
                    </div>
                    <div class="cert_window__input">
                        {{ form.phone }}
                    </div>
                    <div class="cert_window__input">
                       {{ form.recipient}}
                    </div>
                    <div class="cert_window__inputs">
                        <div class="cert_window__input">
                            <div class="cert_window__label">Сумма сертификата</div>
                            {{ form.cost }}
                        </div>
                        <div class="cert_window__input">
                            <div class="cert_window__label">Или выберите из списка</div>
                            <select id="cert_filter" class="cert_filter" name="cost_option" style="display: none;">
                                <option value="3000">3000 руб.</option><option value="5000">5000 руб.</option>
                                <option value="7000">7000 руб.</option><option value="10000">10000 руб.</option>
                                <option value="15000">15000 руб.</option><option value="30000">30000 руб.</option>
                                <option value="50000">50000 руб.</option><option value="100000">100000 руб.</option>
                            </select> 
                        </div>
                    </div>
                    <div class="cert_window__input">
                        <div class="cert_window__label">Тип сертификата</div>
                        <div class="cert_window__radios">
                            <div class="cert_dop__check"><input id="el_cert" type="radio" name="cert_type" value="Электронный" checked="" data-type="Электронный"><label for="el_cert">Электронный</label></div>
                            <div class="cert_dop__check"><input id="el_paper" type="radio" name="cert_type" value="Картонный" data-type="Картонный"><label for="el_paper">Картонный</label></div>
                        </div>
                    </div>
                    <input name="type" id="cert_type" type="hidden" value="">
                    <div class="cert_submit__wrp">
                        <button type="submit" id="certificate-form-submit" name="certificate_order" class="cert_form__order">Купить сертификат</button>
                    </div>
                </div>
                <div class="cert_window__right">
                    <div class="cert_window__back">
                        <div class="cert_dop__element">
                            <div class="cert_dop__top">
                                <div class="cert_dop__image" style="background: url({% static 'img/cert_dop__element-1.jpg' %}) center no-repeat; background-size: cover;"></div>
                                <div class="cert_dop__right">
                                    <div class="cert_dop__name">Мерседес S-класса</div>
                                    <div class="cert_dop__text">За вами приедет Мерседес S-класса</div>
                                </div>
                            </div>
                            <div class="cert_dop__checkboxes">
                                <div class="cert_dop__check">
                                    <input id="option_2" type="checkbox" name="service_1" data-price="2500" value="2500,в одну сторону">
                                    <label for="option_2">+2500 руб. в одну сторону</label>
                                </div>
                                <div class="cert_dop__check">
                                    <input id="option_1" type="checkbox" name="service_1" data-price="4000" value="4000,на матч и обратно">
                                    <label for="option_1">+4000 руб. на матч и вернет домой*</label>
                                </div>
                            </div>
                        </div>
                        <div class="cert_dop__element">
                            <div class="cert_dop__top">
                                <div class="cert_dop__image" style="background: url({% static 'img/cert_dop__element-2.jpg' %}) center no-repeat; background-size: cover;"></div>
                                <div class="cert_dop__right">
                                    <div class="cert_dop__name">Ужин в ресторане «Novikov Group»</div>
                                    <div class="cert_dop__text">Забронируем столик в любом ресторане «Novikov Group»</div>
                                </div>
                            </div>
                            <div class="cert_dop__checkboxes">
                                <div class="cert_dop__check">
                                    <input id="option_3" type="checkbox" name="service_2" data-price="3000" value="3000">
                                    <label for="option_3">+3000 руб. депозит</label>
                                </div>
                            </div>
                        </div>
                        <div class="cert_dop__element">
                            <div class="cert_dop__top">
                                <div class="cert_dop__image" style="background: url({% static 'img/cert_dop__element-3.jpg' %}) center no-repeat; background-size: cover;"></div>
                                <div class="cert_dop__right">
                                    <div class="cert_dop__name">Создайте образ в салоне KYNSI</div>
                                    <div class="cert_dop__text">Подготовка к вечеру в люксовом салоне KYNSI</div>
                                </div>
                            </div>
                            <div class="cert_dop__checkboxes">
                                <div class="cert_dop__check">
                                    <input id="option_4" type="checkbox" name="service_3" data-price="2900" value="2900">
                                    <label for="option_4">+2900 руб. укладка</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cert_dop__conc">
                        Итого:
                        <input id="total" name="total" value="" type="text"><span>руб.</span>
                    </div>
                    <input class="information" id="information" name="information" placeholder="Information" value=""></div>
                </form>
                <div class="cert_window__line"></div>
                <div class="cert_window__bot">
                    <div class="certificate_conditions">
                        <h2 class="certificate_conditions__h2">Условия использования</h2>
                        <ul class="certificate_conditions__ul" style="margin-bottom:40px">
                            <li><span>1.</span>Владелец сертификата сможет выбрать любое мероприятие текущего сезона, представленное на сайте, заказать билеты на подходящую дату и время, получить доставку билетов по указанному адресу.</li>
                            <li><span>2.</span>Если сумма выбранных билетов превышает номинал сертификата, покупатель доплачивает разницу.</li>
                            <li><span>3.</span>Если сумма выбранных билетов меньше номинала сертификата, остаток остается доступным для использования в течение его срока годности.</li>
                            <li><span>4.</span>Подарочный сертификат не подлежит возврату и обмену на денежные средства.</li>
                        </ul>
                    </div>
                    <a href="tel:{{ sitesettings.phone }}" class="cert_window__phone">
                        <span class="cert_window__wrapper">
                            <span class="cert_window__row_1">По всем вопросам</span>
                            <span class="cert_window__row_2">{{ sitesettings.phone }}</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="cert_bot">
                <article class="cert_bot__element"><svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 137 137" fill="none"><rect width="137" height="137" fill="black" fill-opacity="0"></rect><circle cx="68.5" cy="68.5" r="67" stroke="#EBEBEB" stroke-width="3"></circle><path d="M87.7333 53H48.2667C45.92 53 44 54.9241 44 57.2759V79.7241C44 82.0759 45.92 84 48.2667 84H87.7333C90.08 84 92 82.0759 92 79.7241V57.2759C92 54.9241 90.08 53 87.7333 53ZM48.3733 55.1379H87.84C88 55.1379 88.16 55.0845 88.32 55.0845L73.3333 69.7828C71.9467 71.1724 70.08 71.9207 68.1067 71.9207C66.1333 71.9207 64.2667 71.1724 62.88 69.7828L47.8933 55.1379C48.0533 55.0845 48.2133 55.1379 48.3733 55.1379ZM46.1333 79.5638V57.1155C46.1333 56.9017 46.24 56.6879 46.2933 56.4741L58.2933 68.2328L46.24 80.0448C46.1867 79.8845 46.1333 79.7241 46.1333 79.5638ZM87.84 81.8621H48.3733C48.16 81.8621 47.9467 81.7552 47.7867 81.7017L59.8933 69.7828L61.44 71.2793C63.2533 73.0431 65.6533 74.0052 68.16 74.0052C70.6667 74.0052 73.0667 73.0431 74.88 71.2793L76.5333 69.569L88.6933 81.5948C88.4267 81.7017 88.16 81.8621 87.84 81.8621ZM78.0267 68.0724L89.8133 56.4741C89.8667 56.6879 89.8667 56.9017 89.8667 57.1155V79.5638C89.8667 79.6172 89.92 79.6707 89.92 79.7776L78.0267 68.0724Z" fill="#6F6F6F"></path><path d="M62.1333 59.4138C62.1333 58.8234 62.6109 58.3448 63.2 58.3448H73.3333C73.9224 58.3448 74.4 58.8234 74.4 59.4138C74.4 60.0042 73.9224 60.4828 73.3333 60.4828H63.2C62.6109 60.4828 62.1333 60.0042 62.1333 59.4138Z" fill="#6F6F6F"></path><path d="M62.1333 63.6897C62.1333 63.0993 62.6109 62.6207 63.2 62.6207H73.3333C73.9224 62.6207 74.4 63.0993 74.4 63.6897C74.4 64.28 73.9224 64.7586 73.3333 64.7586H63.2C62.6109 64.7586 62.1333 64.28 62.1333 63.6897Z" fill="#6F6F6F"></path></svg>
                    <div
                        class="cert_bot__right">
                        <h3 class="cert_bot__h3">Брендированная упаковка</h3>
                        <div class="cert_bot__text">Изысканный подарок к любому празднику</div>
            </div>
            </article>
            <article class="cert_bot__element"><svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 137 137" fill="none"><rect width="137" height="137" fill="black" fill-opacity="0"></rect><circle cx="68.5" cy="68.5" r="67.5" stroke="#EBEBEB" stroke-width="2"></circle><rect width="42" height="42" fill="black" fill-opacity="0" transform="translate(47 48)"></rect><path d="M88.2999 48.7107C88.0064 48.4155 87.6415 48.2014 87.2407 48.0892C86.8398 47.977 86.4168 47.9705 86.0127 48.0704C81.4826 49.1674 77.1167 50.8561 73.0276 53.0929C68.9051 55.343 65.1058 58.1401 61.733 61.4082C60.4165 61.1546 59.058 61.2259 57.7753 61.6161C56.4926 62.0062 55.3246 62.7034 54.3724 63.6471L47.3674 70.6112C47.1806 70.7971 47.0576 71.0373 47.0158 71.2974C46.974 71.5575 47.0157 71.8241 47.1348 72.0591C47.2539 72.2941 47.4444 72.4853 47.6789 72.6054C47.9134 72.7254 48.1799 72.7682 48.4403 72.7275L55.5243 71.6133C56.42 71.4768 57.3352 71.5522 58.1964 71.8335C59.0577 72.1147 59.841 72.5939 60.4834 73.2327L63.646 76.38C64.2812 77.0127 64.7579 77.7866 65.0372 78.6384C65.3165 79.4903 65.3905 80.3961 65.2532 81.2819L64.1325 88.3292C64.0908 88.5893 64.1325 88.856 64.2517 89.0909C64.3708 89.3259 64.5614 89.5171 64.7959 89.6371C65.0305 89.7572 65.297 89.7999 65.5574 89.7591C65.8177 89.7183 66.0584 89.5962 66.2451 89.4102L73.248 82.444C74.1896 81.5007 74.8878 80.3428 75.2826 79.0699C75.6774 77.797 75.757 76.4473 75.5145 75.1369C78.7815 71.7739 81.5874 67.992 83.8586 63.8904C86.1176 59.8344 87.8226 55.4939 88.9278 50.9849C89.0286 50.5839 89.0238 50.1636 88.9137 49.765C88.8037 49.3665 88.5922 49.0032 88.2999 48.7107ZM81.6774 62.6826C79.4125 66.786 76.5874 70.5544 73.2834 73.8792C73.2514 73.9215 73.2222 73.966 73.1961 74.0122C73.091 74.1384 73.0149 74.2861 72.9733 74.4448C72.9316 74.6036 72.9253 74.7696 72.9549 74.9311C72.9548 74.9832 72.9583 75.0353 72.9653 75.087C73.2352 76.0654 73.2412 77.0979 72.9826 78.0794C72.724 79.0608 72.2101 79.9564 71.4931 80.6749L67.2015 84.9428L67.7213 81.6728C67.9216 80.3956 67.8164 79.0892 67.4141 77.8606C67.0118 76.632 66.324 75.5162 65.4071 74.6047L62.2425 71.4657C61.3222 70.5511 60.2002 69.8651 58.9666 69.4629C57.733 69.0607 56.4223 68.9535 55.1397 69.1498L51.8544 69.6675L56.1294 65.4162C56.8539 64.6945 57.7578 64.1792 58.748 63.9234C59.7382 63.6676 60.7787 63.6806 61.7621 63.961C61.8145 63.9686 61.8673 63.9728 61.9202 63.9735C62.0073 63.9892 62.0958 63.9955 62.1842 63.9922C62.2546 63.9845 62.3242 63.9706 62.3922 63.9506C62.4737 63.9333 62.5531 63.9076 62.6292 63.8737C62.703 63.8352 62.7727 63.7892 62.8371 63.7365C62.8842 63.7098 62.9293 63.68 62.9723 63.6471C66.3073 60.3388 70.0955 57.5209 74.2232 55.2777C78.1125 53.1749 82.2346 51.5347 86.5055 50.3904C85.454 54.6854 83.8301 58.8198 81.6774 62.6826ZM67.7463 62.6826C67.3185 63.1076 66.979 63.613 66.7473 64.1698C66.5156 64.7265 66.3963 65.3236 66.3963 65.9266C66.3963 66.5296 66.5156 67.1266 66.7473 67.6834C66.979 68.2401 67.3185 68.7456 67.7463 69.1706C68.6118 70.0273 69.7804 70.5078 70.9983 70.5078C72.2161 70.5078 73.3848 70.0273 74.2503 69.1706C74.6784 68.7455 75.0182 68.24 75.25 67.683C75.4819 67.1261 75.6013 66.5288 75.6013 65.9255C75.6013 65.3223 75.4819 64.725 75.25 64.1681C75.0182 63.6111 74.6784 63.1056 74.2503 62.6805C73.3852 61.8222 72.2162 61.3401 70.9975 61.3389C69.7788 61.3378 68.6089 61.8177 67.7421 62.6742L67.7463 62.6826ZM72.4912 64.4516C72.6858 64.6449 72.8402 64.8747 72.9456 65.1278C73.0509 65.3809 73.1052 65.6524 73.1052 65.9266C73.1052 66.2008 73.0509 66.4722 72.9456 66.7254C72.8402 66.9785 72.6858 67.2083 72.4912 67.4015C72.0934 67.7947 71.5566 68.0152 70.9972 68.0152C70.4379 68.0152 69.9011 67.7947 69.5033 67.4015C69.3084 67.2083 69.1537 66.9783 69.0481 66.725C68.9426 66.4717 68.8882 66.2 68.8882 65.9255C68.8882 65.6511 68.9426 65.3794 69.0481 65.1261C69.1537 64.8727 69.3084 64.6428 69.5033 64.4496C69.8998 64.0563 70.4354 63.8352 70.9939 63.834C71.5524 63.8328 72.0889 64.0518 72.487 64.4433L72.4912 64.4516ZM61.6083 79.9556C61.7243 80.0715 61.8163 80.209 61.8791 80.3605C61.9419 80.5119 61.9742 80.6742 61.9742 80.8381C61.9742 81.002 61.9419 81.1643 61.8791 81.3158C61.8163 81.4672 61.7243 81.6047 61.6083 81.7206L53.653 89.6306C53.5371 89.7475 53.3993 89.8403 53.2473 89.9037C53.0954 89.9671 52.9324 89.9999 52.7678 90C52.6032 90.0001 52.4401 89.9677 52.2881 89.9046C52.1361 89.8414 51.9981 89.7488 51.882 89.6321C51.7659 89.5153 51.6741 89.3768 51.6118 89.2244C51.5496 89.0721 51.5181 88.9089 51.5192 88.7443C51.5203 88.5797 51.554 88.417 51.6183 88.2654C51.6826 88.1139 51.7763 87.9766 51.8939 87.8615L59.843 79.9536C59.959 79.8377 60.0967 79.7459 60.2482 79.6833C60.3997 79.6207 60.5621 79.5886 60.7261 79.5888C60.89 79.589 61.0523 79.6215 61.2037 79.6844C61.3551 79.7474 61.4926 79.8395 61.6083 79.9556ZM51.9625 81.8682C51.8467 81.9851 51.7088 82.0779 51.5569 82.1413C51.405 82.2048 51.242 82.2375 51.0774 82.2376C50.9127 82.2378 50.7497 82.2053 50.5977 82.1422C50.4456 82.079 50.3076 81.9864 50.1915 81.8697C50.0755 81.7529 49.9837 81.6144 49.9214 81.462C49.8591 81.3097 49.8277 81.1465 49.8288 80.9819C49.8299 80.8173 49.8636 80.6546 49.9279 80.503C49.9922 80.3515 50.0859 80.2142 50.2035 80.0991L55.0981 75.2346C55.214 75.1177 55.3518 75.0248 55.5037 74.9614C55.6557 74.898 55.8186 74.8653 55.9833 74.8652C56.1479 74.865 56.3109 74.8975 56.463 74.9606C56.615 75.0238 56.753 75.1164 56.8691 75.2331C56.9852 75.3498 57.077 75.4884 57.1392 75.6407C57.2015 75.7931 57.233 75.9563 57.2319 76.1209C57.2308 76.2855 57.1971 76.4482 57.1328 76.5997C57.0685 76.7512 56.9748 76.8885 56.8571 77.0037L51.9625 81.8682Z" fill="#6F6F6F"></path></svg>
                <div
                    class="cert_bot__right">
                    <h3 class="cert_bot__h3">Экспресс-доставка</h3>
                    <div class="cert_bot__text">Быстрая и бесплатная доставка</div>
        </div>
        </article>
        <article class="cert_bot__element"><svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 137 137" fill="none"><rect width="137" height="137" fill="black" fill-opacity="0"></rect><circle cx="68.5" cy="68.5" r="67.5" stroke="#EBEBEB" stroke-width="2"></circle><rect width="42" height="41" fill="black" fill-opacity="0" transform="translate(49 46)"></rect><rect width="42" height="41" fill="black" fill-opacity="0" transform="translate(49 46)"></rect><rect width="42" height="41" fill="black" fill-opacity="0" transform="translate(49 46)"></rect><path d="M79 66V57C79 56.4477 79.4477 56 80 56C80.5523 56 81 56.4477 81 57V66H86C88.7614 66 91 68.2386 91 71V82C91 84.7614 88.7614 87 86 87H54C51.2386 87 49 84.7614 49 82V71C49 68.2386 51.2386 66 54 66H59V57C59 56.4477 59.4477 56 60 56C60.5523 56 61 56.4477 61 57V66H69V56C69 55.4477 69.4477 55 70 55C70.5523 55 71 55.4477 71 56V66H79ZM89 75.4722C87.9385 76.4223 86.5367 77 85 77C82.913 77 81.0749 75.9345 80 74.3178C78.9251 75.9345 77.087 77 75 77C72.913 77 71.0749 75.9345 70 74.3178C68.9251 75.9345 67.087 77 65 77C62.913 77 61.0749 75.9345 60 74.3178C58.9251 75.9345 57.087 77 55 77C53.4633 77 52.0615 76.4223 51 75.4722V82C51 83.6569 52.3431 85 54 85H86C87.6569 85 89 83.6569 89 82V75.4722ZM89 71C89 69.3431 87.6569 68 86 68H54C52.3431 68 51 69.3431 51 71C51 73.2091 52.7909 75 55 75C57.2091 75 59 73.2091 59 71C59 70.4477 59.4477 70 60 70C60.2761 70 60.5261 70.1119 60.7071 70.2929C60.8881 70.4739 61 70.7239 61 71C61 73.2091 62.7909 75 65 75C67.2091 75 69 73.2091 69 71C69 70.4477 69.4477 70 70 70C70.2761 70 70.5261 70.1119 70.7071 70.2929C70.8881 70.4739 71 70.7239 71 71C71 73.2091 72.7909 75 75 75C77.2091 75 79 73.2091 79 71C79 70.4477 79.4477 70 80 70C80.2761 70 80.5261 70.1119 80.7071 70.2929C80.8881 70.4739 81 70.7239 81 71C81 73.2091 82.7909 75 85 75C87.2091 75 89 73.2091 89 71ZM70.0005 54.0015C67.3772 54.0015 66.4056 52.1282 66.998 49.7582C67.4675 47.8804 68.7563 46 70.0005 46C71.2448 46 72.5336 47.8804 73.0031 49.7582C73.5956 52.1282 72.6239 54.0015 70.0005 54.0015ZM69.7231 48.5031C69.383 48.9994 69.0882 49.6436 68.9383 50.2433C68.6259 51.4932 68.8895 52.0015 70.0005 52.0015C71.1116 52.0015 71.3752 51.4932 71.0628 50.2433C70.9129 49.6436 70.6181 48.9994 70.278 48.5031C70.1819 48.3629 70.0872 48.2423 70.0005 48.1471C69.9139 48.2423 69.8192 48.3629 69.7231 48.5031ZM60.0005 55.0015C57.3772 55.0015 56.4056 53.1282 56.998 50.7582C57.4675 48.8804 58.7563 47 60.0005 47C61.2448 47 62.5336 48.8804 63.0031 50.7582C63.5956 53.1282 62.6239 55.0015 60.0005 55.0015ZM59.7231 49.5031C59.383 49.9994 59.0882 50.6436 58.9383 51.2433C58.6259 52.4932 58.8895 53.0015 60.0005 53.0015C61.1116 53.0015 61.3752 52.4932 61.0628 51.2433C60.9129 50.6436 60.6181 49.9994 60.278 49.5031C60.1819 49.3629 60.0872 49.2423 60.0005 49.1471C59.9139 49.2423 59.8192 49.3629 59.7231 49.5031ZM80.0005 55.0015C77.3772 55.0015 76.4056 53.1282 76.998 50.7582C77.4675 48.8804 78.7563 47 80.0005 47C81.2448 47 82.5336 48.8804 83.0031 50.7582C83.5956 53.1282 82.6239 55.0015 80.0005 55.0015ZM79.7231 49.5031C79.383 49.9994 79.0882 50.6436 78.9383 51.2433C78.6259 52.4932 78.8895 53.0015 80.0005 53.0015C81.1116 53.0015 81.3752 52.4932 81.0628 51.2433C80.9129 50.6436 80.6181 49.9994 80.278 49.5031C80.1819 49.3629 80.0872 49.2423 80.0005 49.1471C79.9139 49.2423 79.8192 49.3629 79.7231 49.5031Z" fill="#6F6F6F"></path></svg>
            <div
                class="cert_bot__right">
                <h3 class="cert_bot__h3">Действует 1 год</h3>
                <div class="cert_bot__text">Сертификат действителен в течение года</div>
                </div>
        </article>
        </div>
    </div>
</div>
{% endblock %}