{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="seasons_page minimum">
    <div class="match__head"><span>{% trans "Чемпионаты" %}</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <span>{% trans "Чемпионаты" %}</span>
        </div>
        <h1 class="match__h1">{% trans "Чемпионаты" %}</h1>
        <div class="seasons_page__wrp">
            {% for c in champs %}
                <a href="{% url 'engine:champ' c.alias %}" class="champ_item">
                    <img width="140px" src="{% if c.image %}{{ c.image.url }}{% endif %}">
                    <span>{% trans "Сезон" %} {{ c.football_years }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}