{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
{% if data.sitesettings.main_champ %}
    <div class="seasons_page minimum">
        <div class="match__head"><span>Сезон {{ data.football_years }}</span></div>
        <div class="wrapper">
            <div class="breadcrumbs">
                <a href="/">{% trans "Билеты на матчи" %}</a>
                <span>Чемпионаты</span>
            </div>
            <h1 class="match__h1">{{ data.name }} - Сезон {{ data.football_years }}</h1>
            <div class="seasons_page__wrp" align="center">
                <h2 style="margin-bottom: 20px;">Команды в чемпионате</h2>
                <div class="team_tms">
                    {% for t in data.teams.all %}
                        <div class="team_bl" style="display: inline-block; width: 6%;">
                            <a href="{% url 'engine:team' t.alias %}"><img src="{% if t.logo2 %}{{ t.logo2.url }}{% endif %}" style="width: 50%; display: inline-block; margin: 0 auto;"></a>
                        </div>
                    {% endfor %}
                </div>
                <h2 style="margin-top: 20px;">Матчи в Чемпионате</h2>
                <div class="match_list">
                {% for m in champ_matches %}
                    {% include "_match-item-matches.html" %}
                {% endfor %}
                </div>
            </div>
            <article class="seo_text">
                {% if data.content %}
                    {% if data.cotnent %}{{ data.content|safe }}{% endif %}
                {% else %}
                    {% if seo_content %}{{ seo_content|safe }}{% endif %}
                {% endif %}
            </article>
        </div>
    </div>
{% else %}
    <div class="seasons_page minimum">
        <div class="match__head"><span>Сезон {{ data.football_years }}</span></div>
        <div class="wrapper">
            <div class="breadcrumbs">
                <a href="/">{% trans "Билеты на матчи" %}</a>
                <span>Чемпионаты</span>
            </div>
            <h1 class="match__h1">{{ data.name }} - Сезон {{ data.football_years }}</h1>
            <div class="seasons_page__wrp" align="center">
                <h2 style="margin-bottom: 20px;">Команды в чемпионате</h2>
                <div class="team_tms">
                    {% for t in data.teams.all %}
                        <div class="team_bl" style="display: inline-block; width: 6%;">
                            <a href="{% url 'engine:team' t.alias %}"><img src="{% if t.logo2 %}{{ t.logo2.url }}{% endif %}" style="width: 50%; display: inline-block; margin: 0 auto;"></a>
                        </div>
                    {% endfor %}
                </div>
                <div class="match_tabs" style="width: 40%; margin: 20px auto 0;">
                    <div class="switch">
                        <div data-id="1" class="switch__element active">
                            Будущие матчи
                        </div>
                        <div data-id="2" class="switch__element">
                            Прошедшие матчи
                        </div>
                    </div>
                </div>
                <div class="match_list map__condition active" data-id="1">
                {% for m in next %}
                    {% include "_match-item-matches.html" %}
                {% endfor %}
                {% if next.has_next or next.has_previous %}
                    <div class="search_nav">
                        <div class="search_nav__help">{{ next.start_index }}—{{ next.end_index }}</div>
                        {% if next.has_previous %}
                        <a href="?next={{ next.previous_page_number }}"><div class="search_nav__next">← назад</div></a>
                        {% endif %}
                        <div class="search_nav__navs">
                            {% for pag in next.paginator.page_range %}
                                {% if pag == next.number %}
                                    <div class="search_nav__nav">{{ pag }}</div>
                                {% else %}
                                    <a href="?next={{ pag }}"><div class="search_nav__nav">{{ pag }}</div></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if next.has_next %}
                        <a href="?next={{ next.next_page_number }}"><div class="search_nav__next">далее →</div></a>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
                <div class="match_list map__condition" data-id="2">
                {% for m in prev %}
                    {% include "_match-item-matches_lte.html" %}
                {% endfor %}
                {% if prev.has_next or prev.has_previous %}
                    <div class="search_nav">
                        <div class="search_nav__help">{{ prev.start_index }}—{{ prev.end_index }}</div>
                        {% if prev.has_previous %}
                        <a href="?prev={{ prev.previous_page_number }}"><div class="search_nav__next">← назад</div></a>
                        {% endif %}
                        <div class="search_nav__navs">
                            {% for pag in prev.paginator.page_range %}
                                {% if pag == prev.number %}
                                    <div class="search_nav__nav">{{ pag }}</div>
                                {% else %}
                                    <a href="?prev={{ pag }}"><div class="search_nav__nav">{{ pag }}</div></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if prev.has_next %}
                        <a href="?prev={{ prev.next_page_number }}"><div class="search_nav__next">далее →</div></a>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            </div>
            <article class="seo_text">
                {% if data.content %}
                    {{ data.content|safe }}
                {% else %}
                    {% if seo.content %}{{ seo_content|safe }}{% endif %}
                {% endif %}
            </article>
        </div>
    </div>
{% endif %}

{% endblock %}