{% extends "_base.html" %}

{% load static i18n %}

{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
    <link href="{% static "js/libs/intlTelInput/intlTelInput.min.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block container %}

<form id="order_cart" class="cart" {% if not item %}method="post" action=""{% endif %}>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ c.csrf_token }}">
    <div class="wrapper">
        <div class="empty_cart {% if cart.total_sum|floatformat:"-2" == '0' %}active{% endif %}">
            <span class="cart__h1">{% trans "Корзина пуста" %}</span>
        </div>
        <div class="full_cart {% if cart.total_sum|floatformat:"-2" != '0' %}active{% endif %}">
            <h1 class="cart__h1">{% trans "Оформление заказа" %}</h1>
            <div class="cart__block">
                <div class="cart__title">
                    <div>1</div>
                    {% trans "Ваш заказ" %}
                </div>
                <div class="cart__wrp">
                    {% for t in cart.c_tickets.all %}
                        {% ifchanged t.match.name %}
                            {% if not forloop.first %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endifchanged %}
                        {% ifchanged t.match.name %}
                        <div class="cart__match">
                            <div class="cart__img">
                                <img alt="{{ t.price.match.command_first.name }}" src="https://footballengine.tix-system.com/media/teams/{{ t.match.command_first.logo }}">
                            </div>
                            <div class="cart__txt">{{ t.match.name }}</div>
                            <div class="cart__img">
                                <img alt="{{ t.match.command_second.name }}" src="https://footballengine.tix-system.com/media/teams/{{ t.match.command_second.logo }}">
                            </div>
                        </div>
                        <div class="match__line match__line-cart">
                            <div class="match__el match__el-2">{{ t.match.datetime|date:"d-m-Y H:i" }}</div>
                            <div class="match__el match__el-3">{{ t.match.stadium.city.country }}, {{ t.match.stadium.city }}, {{ t.match.stadium.name }}</div>
                        </div>
                        <table class="cart_table">
                            <thead>
                                <tr>
                                    <th>{% trans "Категория" %}</th>
                                    <th>{% trans "Цена" %} ({{ currency.mark }})</th>
                                    <th>{% trans "Количество" %}</th>
                                    <th>{% trans "Удалить" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% endifchanged %}
                            <tr>
                                <td>{% trans "Сектор" %} {{ t.sector }}, {% trans "ряд" %} {% if t.row %}{{ t.row }}{% else %}-{% endif %}, {% trans "место" %} {% if t.seat %}{{ t.seat }}{% else %}-{% endif %}</td>
                                <td>{{ t.price|floatformat:"-2" }}</td>
                                <td>{{ t.count }}</td>
                                <td data-hash="{{ t.hash }}" data-price='{{ t.price|floatformat:"-2" }}' class="remove_ticket">
                                    <div class="cart_del"></div>
                                </td>
                            </tr>
                        {% if forloop.last %}
                            </tbody>
                        </table>
                        {% endif %}
                    {% endfor %}
                    {% for t in cart.s_item.all %}
                        {% ifchanged t.price.match.name %}
                            {% if not forloop.first %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endifchanged %}
                        {% ifchanged t.price.match.name %}
                        <div class="cart__match">
                            <div class="cart__img">
                                <img alt="{{ t.match.command_first.name }}" src="https://footballengine.tix-system.com/media/teams/{{ t.match.command_first.logo }}">
                            </div>
                            <div class="cart__txt">{{ t.match.name }}</div>
                            <div class="cart__img">
                                <img alt="{{ t.price.match.command_second.name }}" src="https://footballengine.tix-system.com/media/teams/{{ t.match.command_second.logo }}">
                            </div>
                        </div>
                        <div class="match__line match__line-cart">
                            <div class="match__el match__el-2">{{ t.price.match.datetime|date:"d-m-Y H:i" }}</div>
                            <div class="match__el match__el-3">{{ t.price.match.stadium.city.country }}, {{ t.price.match.stadium.city }}, {{ t.price.match.stadium.name }}</div>
                        </div>
                        <table class="cart_table static_table">
                            <thead>
                                <tr>
                                    <th>{% trans "Категория" %}</th>
                                    <th>{% trans "Цена" %} ({{ currency.mark }})</th>
                                    <th>{% trans "Количество" %}</th>
                                    <th>{% trans "Удалить" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% endifchanged %}
                            <tr data-id="{{ t.id }}">
                                <td>{% trans "Сектор" %} {{ t.price.sector }}</td>
                                <td>{% if t.curr_price == 0 %}{% trans "Под запрос" %}{% else %}{{ t.curr_price }} {{ currency.mark }}{% endif %}</td>
                                <td>{{ t.count }}</td>
                                <td data-hash="{{ t.id }}" data-price='{{ t.price.price|floatformat:"-2" }}' class="remove_ticket static_ticket">
                                    <div class="cart_del"></div>
                                </td>
                            </tr>
                        {% if forloop.last %}
                            </tbody>
                        </table>
                        {% endif %}
                    {% endfor %}
                    <div class="cart__summa">{% trans "Итого" %} ({{ currency.mark }}) <span>{{ cart.total_sum|floatformat:"-2" }}</span></div>
                </div>
            </div>
            <div class="cart__blocks">
                <div class="cart__block">
                    <div class="cart__title">
                        <div>2</div>
                        {% trans "Контактные данные" %}
                    </div>
                    <div class="cart__wrp">
                        <div class="cart__input required">
                            {{ form.name }}
                        </div>
                        <div class="cart__inputs">
                            <div class="cart__hide">
                                {{ form.phone_code }}
                            </div>
                            <div class="cart__input required">
                                {{ form.phone }}
                            </div>
                            <div class="cart__input">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="cart__input">
                            {{ form.addr }}
                        </div>
                        <div class="cart__input">
                            {{ form.textarea }}
                        </div>
                        <div class="cart__text"><span class="star">*</span> {% trans "Поля отмеченные звездочками обязательны для заполнения" %}</div>
                        <div class="cart__text cart__text-1">
                            <span class="green">{% trans "Бесплатная" %}</span> {% trans "доставка ежедневно, без выходных с 10:00 до 19:00" %}.<br />
                            {% trans "Билеты будут доставлены в течение 3х часов. Доставка по России и Европе в течение двух суток службой экспресс-доставки UPS/Pony Express" %}.
                        </div>
                    </div>
                </div>
                <div class="cart__block">
                    <div class="cart__title">
                        <div>3</div>
                        {% trans "Способ оплаты" %}
                    </div>
                    <div class="cart__wrp">
                        <div class="cart__check">
                            <input id="pay_1" value="1" name="pay" type="radio" checked="checked">
                            <label for="pay_1">
                                {% trans "Наличными при получении билетов" %}
                                <span>{% trans "Вы можете оплатить билеты наличными сотруднику нашей компании, который подъедет по вашему адресу в Москве или Санкт-Петербурге для передачи билетов. Доставка в пределах города бесплатно" %}.</span>
                            </label>
                        </div>
                        <div data-id="cart_aletrs" class="cart__check cart__check-visa">
                            <input id="pay_3" value="3" name="pay" type="radio">
                            <label for="pay_3">
                                {% trans "Картой Visa / MasterCard / МИР" %}
                                <span>{% trans "После оформления заказа, на ваш E-mail придет ссылка на оплату билетов. По ссылке Вы будете переведены на безопасную страницу банка для ввода данных карты. После успешной оплаты вы получаете чек, гарантирующий получение билетов. Билеты будут отправлены Вам на электронную почту либо доставлены курьером в удобное для Вас место и время" %}.</span>
                                <div class="cart_aletrs">{% trans "Пожалуйста заполните поле email и проверьте, что контактные данные заполнены корректно" %}</div>
                            </label>
                        </div>
                        <div data-id="cert_input" class="cart__check">
                            <input id="pay_4" value="29" name="pay" type="radio">
                            <label for="pay_4">
                                {% trans "Оплата сертификатом" %}
                                <span>{% trans "Если у Вас есть Подарочный сертификат от нашей компании, вы можете полностью или частично оплатить им заказ. После оформления заказа с Вами свяжется менеджер и уточнит номер сертификата. Билеты будут доставлены курьером бесплатно. При полном использовании номинала сертификата его необходимо будет передать курьеру" %}.</span>
                                <div class="cert_input">
                                    <div class="cert_input__text">{% trans "Пожалуйста, введите номер сертификата" %}</div>
                                    <input id="cert_id" name="cert_id">
                                </div>
                            </label>
                        </div>


                        {% comment %} <div class="cart__check">
                            <input id="pay_3" value="2" name="pay" type="radio">
                            <label for="pay_3">
                                Банковским переводом
                                <span>Мы сотрудничаем с юридическими лицами, для заключения договора и выставления счета, оформите заказ, предоставив банковские и юридические реквизиты компании («Карточка предприятия») на наш электронный адрес info@1tv.hockey. Об оплате Вы можете сообщить нам по телефонам<br> +7 (495) 120-15-89 или же выслать квитанцию об оплате на электронную почту info@1tv.hockey.</span>
                            </label>
                        </div> {% endcomment %}
                        {% comment %} <div class="cart__text cart__text-right">
                            <span class="blue">Наличными при получении билетов</span> Вы можете оплатить билеты наличными сотруднику нашей компании, который подъедет по вашему адресу в Москве или Санкт-Петербурге для передачи билетов
                        </div> {% endcomment %}
                        <div class="cart_info">
                            <div class="cart_info__row">{% trans "Нажимая на кнопку «Оформить заказ», я даю согласие на обработку персональных данных" %}.</div>
                            <div class="cart__check cart__check-agree">
                                <input id="agree" value="agree" name="agree" type="checkbox" checked="checked">
                                <label for="agree">
                                   {% trans "Согласен с условиями" %} <a href="/oferta/" target="_blank">{% trans "оферты" %}</a>.
                                </label>
                            </div>
                            <div class="cart_info__red">{% trans "Оплатите сейчас, чтобы не потерять билеты" %}</div>
                        </div>
                        <div class="cart__block_bot">
                            <div class="cart__summa cart__summa-pay">{% trans "Итого" %} ({{ currency.mark }}) <span>{{ cart.total_sum|floatformat:"-2" }}</span></div>
                            <button class="cart__submit">{% trans "Заказать" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__back">< <span>{% trans "Назад к выбору билетов" %}</span></div>
    </div>
    <section class="utps">
        <div class="wrapper">
            
            {% include "inc/utps.html" %}
            
        </div>
    </section>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/libs/intlTelInput/intlTelInput.min.js' %}"></script>
<script src="{% static 'js/libs/mask/mask.js' %}"></script>
<script>
$('document').ready(function () {    
    {% if sitesettings.metrics_yandex %}
        setTimeout(function () {
            if (window.hasOwnProperty('yaCounter{{ sitesettings.metrics_yandex }}')) {
                yaCounter{{ sitesettings.metrics_yandex }}.reachGoal('basket');
            }
        }, 1000);
    {% endif %}

    {% if sitesettings.metrics_google %}
        gtag('event', 'basket', { 'event_category': 'order' });
    {% endif %}

    var gtag_array = new Array(),
        ya_array = new Array(),
        total_price = 0;

    {% for t in cart.c_tickets.all %}
        gtag_array.push({
            'id': {{ t.match.id }},
            'name': '{{ t.match.name }}',
            'category': '{{ t.match.datetime|date:"d-m-Y H:i" }}',
            'list_position': 'Сектор: ' + '{{ t.sector }}',
            'price': {{ t.price|floatformat:"-2" }},
            "quantity": 1
        });

        ya_array.push({
            'id': {{ t.match.id }},
            "name": '{{ t.match.name }}',
            "price": {{ t.price|floatformat:"-2" }},
            "category": '{{ t.match.datetime|date:"d-m-Y H:i" }}',
            "variant": 'Сектор: ' + '{{ t.sector }}',
            "quantity": 1
        });

        total_price += {{ t.price|floatformat:"-2" }}
    {% endfor %}

    {% for t in cart.s_item.all %}
        gtag_array.push({
            'id': {{ t.price.match.id }},
            'name': '{{ t.price.match.name }}',
            'category': '{{ t.price.match.datetime|date:"d-m-Y H:i" }}',
            'list_position': 'Сектор: ' + '{{ t.price.sector }}',
            'price': {{ t.price.price|floatformat:"-2" }},
            "quantity": {{ t.count }}
        });

        ya_array.push({
            'id': {{ t.price.match.id }},
            "name": '{{ t.price.match.name }}',
            "price": {{ t.price.price|floatformat:"-2" }},
            "category": '{{ t.price.match.datetime|date:"d-m-Y H:i" }}',
            "variant": 'Сектор: ' + '{{ t.price.sector }}',
            "quantity": {{ t.count }}
        });

        total_price += {{ t.price.price|floatformat:"-2" }} * {{ t.count }};
    {% endfor %}

    localStorage.setItem('gtag_array', JSON.stringify(gtag_array));
    localStorage.setItem('ya_array', JSON.stringify(ya_array));
    localStorage.setItem('total_price', total_price);
});
</script>
{% endblock %}
