{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверка заказов</title>
</head>
<body>
    <input type="text" placeholder="bintranet_id" name="id">
    <button class="gogo">Дай</button>
    <input type="hidden" name="csrf" value="{{ c.csrf_token }}">
    <h2>Result:</h2>
    <div class="result">

    </div>
    <script src="{% static 'js/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function () {
            $('.gogo').click(function () {
                id = $('[name=id]').val()
                $.ajax({
                    url: '/orders_check/',
                    method: "POST",
                    data: { type : 'info', id : id, csrfmiddlewaretoken: getCookie('csrftoken')},
                    success: function (data, textStatus){
                        $('.result').html('')
                        item = JSON.parse(JSON.parse(data)[0])[0]['fields'];
                        ticks = JSON.parse(JSON.parse(data)[1]);
                        $('.result').html('<div class="name">' + item['name'] + '</div>' +
                                            '<div class="phone">' + item['phone'] + '</div>' +
                                            '<div class="phone">' + JSON.stringify(item['utm']) + '</div>' +
                                            '<div class="tickets"></div>'

                        )
                        for(i = 0; i < ticks.length; i++){
                            $('.tickets').append(
                                            '<h3>Билет</h3>' +
                                            '<div class="ticket">Hash: ' + ticks[i]['fields']['hash'] + '</div>' +
                                            '<div class="ticket">Price: ' + ticks[i]['fields']['price'] + '</div>' +
                                            '<div class="ticket">Row: ' + ticks[i]['fields']['row'] + '</div>' +
                                            '<div class="ticket">Seat: ' + ticks[i]['fields']['seat'] + '</div>' +
                                            '<div class="ticket">Sector: ' + ticks[i]['fields']['sector'] + '</div>' +
                                            '<div class="ticket">Source: ' + ticks[i]['fields']['source'] + '</div>'
                            )
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>