{% extends "_base.html" %}
{% load i18n %}
{% block container %}
<div class="seasons_page minimum">
    <div class="match__head"><span>Страница не найдена...</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">Билеты на матчи</a>
            <span> Ошибка 404</span>
        </div>
        <h1 class="match__h1">Ошибка 404</h1>
        <article class="content" style="font-size: 16px;">
            <a href="/">Вернуться на главную</a>
        </article>
    </div>
</div>
{% endblock %}