<yml_catalog date='{{ now|date:"d-m-Y H:i" }}'>
    <shop>
        <categories>
            <category id="1">Общая</category>
            {% for m in result %}
            <category id="{{ m.id }}">{{ m.name }}</category>
            {% endfor %}
        </categories>
    </shop>
    <offers>
        <offer id="1a" type="event-ticket" available="{% if matches_with_tickets %}true{% else %}false{% endif %}">
            <url>{{ site }}</url>
            <currencyId>RUR</currencyId>
            <categoryId>1</categoryId>
            <name>Билеты</name>
            <price>{{ min_price }}</price>
            <place1>{{ next_match.stadium }}</place1>
            <city>{% if next_match.stadium.city %}{{ next_match.stadium.city }}{% endif %}</city>
            <logo1>{% if next_match.command_first.logo2.url %}{{ next_match.command_first.logo2.url }}{% endif %}</logo1>
            <logo2>{% if next_match.command_second.logo2.url %}{{ next_match.command_second.logo2.url }}{% endif %}</logo2>
            <champlogo>{% if next_match.champ.image %}{{ next_match.champ.image.url }}{% endif %}</champlogo>
            <day>{{ next_match.datetime|date:"j" }}</day>
            <month>{{ next_match.datetime|date:"E" }}</month>
            <home>{{ home }}</home>
            <year>{{ next_match.datetime|date:"Y" }}</year>
            <date-end>{{ next_match.datetime|date:"j.m.Y H:i" }}</date-end>
            <date_end>{{ next_match.datetime|date:"j E Y H:i" }}</date_end>
            <param_quantity>{{ min_price.0.total_count }}</param_quantity>
        </offer>
        <offer id="1b" type="event-ticket" available="{% if matches_with_tickets %}true{% else %}false{% endif %}">
            <url>{{ site }}</url>
            <currencyId>RUR</currencyId>
            <categoryId>1</categoryId>
            <name>Официальный сайт</name>
            <price>{{ min_price }}</price>
            <place1>{{ next_match.stadium }}</place1>
            <city>{% if next_match.stadium.city %}{{ next_match.stadium.city }}{% endif %}</city>
            <logo1>{% if next_match.command_first.logo2.url %}{{ next_match.command_first.logo2.url }}{% endif %}</logo1>
            <logo2>{% if next_match.command_second.logo2.url %}{{ next_match.command_second.logo2.url }}{% endif %}</logo2>
            <champlogo>{% if next_match.champ.image %}{{ next_match.champ.image.url }}{% endif %}</champlogo>
            <day>{{ next_match.datetime|date:"j" }}</day>
            <month>{{ next_match.datetime|date:"E" }}</month>
            <home>{{ home }}</home>
            <year>{{ next_match.datetime|date:"Y" }}</year>
            <date-end>{{ next_match.datetime|date:"j.m.Y H:i" }}</date-end>
            <date_end>{{ next_match.datetime|date:"j E Y H:i" }}</date_end>
            <param_quantity>{{ min_price.0.total_count }}</param_quantity>
        </offer>
        {% for m in result %}
        <offer id="{{ m.id }}" type="event-ticket" available="{% if m.count > 4 and not m.emergency_shutdown %}true{% else %}false{% endif %}">
            <url>{{ m.url }}</url>
            <price>{{ m.min_price }}</price>
            <currencyId>{{ m.currency }}</currencyId>
            <categoryId>{{ m.id }}</categoryId>
            <name>{{ m.name }}</name>
            <place1>{{ m.stadium }}</place1>
            <city>{% if m.city %}{{ m.city }}{% endif %}</city>
            <logo1>{% if m.logo1.url %}{{ m.logo1.url }}{% endif %}</logo1>
            <logo2>{% if m.logo2.url %}{{ m.logo2.url }}{% endif %}</logo2>
            <champlogo>{% if m.champ %}{{ m.champ.url }}{% endif %}</champlogo>
            <day>{{ m.datetime|date:"j" }}</day>
            <month>{{ m.datetime|date:"E" }}</month>
            <home>{{ m.home }}</home>
            <year>{{ m.datetime|date:"Y" }}</year>
            <date-end>{{ m.datetime|date:"j.m.Y H:i" }}</date-end>
            <date_end>{{ m.datetime|date:"j E Y H:i" }}</date_end>
            <param_quantity>{{ m.count }}</param_quantity>
        </offer>
        {% endfor %}
    </offers>
</yml_catalog>