<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content plan for Leha</title>
</head>
<body>
    <div><span>Месяц</span></div>
    {% if next %}
        {% for m in next %}
            <div style="border: 1px solid #000; padding: 10px; float: left; margin: -1px 0 0 -1px;">
            <img src="{% if m.command_first.logo2 %}{{ m.command_first.logo2.url }}{% endif %}" width="56px">
            <img src="{% if m.command_second.logo2 %}{{ m.command_second.logo2.url }}{% endif %}" width="56px">
                <div style="text-align: center;">{{ m.datetime|date:"d.m.Y" }}</div>
            </div>
        {% endfor %}
    {% else %}
        <h2 style="font-size: 20px;">Матчей нет</h2>
    {% endif %}
</body>
</html>