{% extends "_base.html" %}

{% load static i18n %}

{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="match_loader">
    <div class="match_loader__img"></div>
    <div class="match_loader__text">{% trans "Загружаем матчи" %}</div>
</div>
<section class="banner" data-shmata="5" data-lang="{{ lang.code }}">
    {% if sitesettings.video_main %}
        <video playsinline="" autoplay="" loop="" muted="" class="banner__video active">
            <source src="{% static '/video/' %}{{ sitesettings.video_main }}">
        </video>
    {% endif %}
    <div class="banner__wrp">
        <a href="/certificates/"></a>
        <a href="#" class="banner__top">
        {% if sitesettings.banner_logo %}<img src="{{ sitesettings.banner_logo.url }}">{% endif %}
        <span class="banner__title">{% if sitesettings.main_banner_text %}{{ sitesettings.main_banner_text }}{% endif %}</span>
        <span class="banner__tickets">{% if sitesettings.main_banner_text_two %}{{ sitesettings.main_banner_text_two }}{% endif %}</span>
        </a>
        <div class="banner__bottom">
            {% if sitesettings.banner_html %}
                {{ sitesettings.banner_html|safe }}
            {% else %}
                {% if sitesettings.site_logo_text != "cskatickets" %}
                    <div  onclick="$('body, html').animate({scrollTop: $('.matches').offset().top}, 500); return false;" class="banner__button">{% trans "Выбрать билеты" %}</div>
                {% else %}
                    <div class="banner__element">
                        <img class="banner__player" src="{% static 'img/banner__element_1.png' %}">
                        <div class="banner__block">
                            <div class="banner__row_1">ЦСКА</div>
                            <div class="banner__row_2">в Чемпионате России</div>
                            <a href="/champs/premiere-legaue/" class="banner__button">{% trans "Выбрать билеты" %}</a>
                        </div>
                        <img src="{% static 'img/banner__element_2.png' %}">
                    </div>
                    <div class="banner__line"></div>
                    <div class="banner__element">
                        <img src="{% static 'img/banner__element_3.png' %}">
                        <div class="banner__block">
                            <div class="banner__row_1">ЦСКА</div>
                            <div class="banner__row_2">в Лиге Чемпионов</div>
                            <a href="/champs/champions-legaue/" class="banner__button">{% trans "Выбрать билеты" %}</a>
                        </div>
                        <img class="banner__player" src="{% static 'img/banner__element_4.png' %}">
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if sitesettings.phone %}
        <div class="banner__phone">{% trans "Билеты" %} <a href="tel:{{ sitesettings.phone }}" class="mango_phone">{{ sitesettings.phone }}</a></div>
    {% endif %}
    <div class="banner_info">
    </div>
    <div class="banner_info">
        <div class="banner_info__utp">
            <img height="50" src="{% static 'img/banner__utp_1.svg' %}">
            <div>{% trans "Безопасность данных" %}</div>
        </div>
        <div class="banner_info__utp">
            <img height="50" src="{% static 'img/banner__utp_2.svg' %}">
            <div>{% trans "Подлинность билетов" %}</div>
        </div>
        <img width="273" src="{% static 'img/banner__pay.svg' %}">
    </div>
    <div class="banner__callback"></div>
</section>
<div class="main">
    <section class="utps">
        <div class="wrapper">

            {% include "inc/utps.html" %}

        </div>
    </section>
    <div class="wrapper">
        <section id="matches" class="matches">
            <h1 class="matches__h1" id="filtered-section">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{% trans "Билеты на матчи" %} {{ sitesettings.site_word }}{% endif %}</h1>
            <div class="filter">
                <div class="filter__filter">{% trans "Фильтр" %}</div>
                <div class="filter__center">
                    <div class="filter__tournaments">
                        {% if all_champs|length > 1 %}
                        {% endif %}
                        {% for i in all_champs %}
                            <div class="filter__tournament" data-id="{{ i.id }}">{% if i.image %}<img height="50px" src="{{ i.image.url }}">{% endif %}</div>
                        {% endfor %}
                    </div>
                    <div class="filter__wrp" {% if sitesettings.index_type == 3 %}style="background: transparent;"{% endif %}>
                        {% if sitesettings.index_type != 3 %}
                        <div class="filter__teams"><span class="show_">{% trans "Команды" %}</span><span class="hide_">сбросить</span></div>
                        <div class="filter__window">
                            {% for i in all_champs %}
                            <div class="filter__row">{{ i.name }} <img width="75" src="{% if i.image %}{{ i.image.url }}{% endif %}"></div>
                                {% for t in i.teams.all %}
                                    <div class="filter__team" data-id="{{ t.id }}"><img width="75" src="{% if t.logo2 %}{{ t.logo2.url }}{% endif %}">{{ t.name }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <span class="selected_length"></span>
                        {% else %}
                        <select id="group_select">
                            <option value="0">{% trans "Все группы" %}</option>
                            {% if popular_matches %}
                            <option value="-1">{% trans "Популярное" %}</option>
                            {% endif %}
                            {% for i in groups %}
                            <option value="{{ i.1 }}">{{ i.0 }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="championat static">
                {% if popular_matches %}<span class="championat__h2 group_item" data-group="-1">{% trans "Популярные матчи" %}</span>
                <div class="championat__wrp group_item" data-group="-1">
                    {% for m in popular_matches %}
                        {% include "_match-item.html" %}
                    {% endfor %}
                </div>{% endif %}
                <span class="championat__h2">{% if self_matches_all %}{% trans "Предстоящие матчи" %}{% else %}{% trans "Ближайших матчей нет" %}{% endif %}</span>
                <div class="championat__wrp">
                {% if sitesettings.index_type != 3 %}
                    {% for m in self_matches_all %}
                        {% include "_match-item.html" %}
                    {% endfor %}
                {% else %}
                    <div>
                    {% for m in self_matches_all %}
                        {% ifchanged m.group %}
                        </div>
                        <div class="group_item" data-group="{{ m.group.id }}">
                        {% if m.group.name == "Финал" or m.group.name == "Final" and m.group.image %}
                            <div class="final_label">
                                {% if m.group.image %}
                                    <div class="group_image">
                                        <img src="{{ m.group.image.url }}">
                                    </div>
                                {% endif %}
                                <div class="final_label__row_1">{{ m.group.name }}</div>
                                {% if m.stadium.city.name or m.stadium.name %}
                                    <div class="final_label__row_2">{{ m.stadium.city.name }}, {{ m.stadium.name }}</div>
                                {% endif %}
                                <div class="final_label__row_3">{{ m.datetime|date:"d.m.Y" }}</div>
                                <div class="final_label__borders">
                                    <div class="final_label__border"></div>
                                    <div class="final_label__border"></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="group_label"><span>{{ m.group.name }}</span></div>
                        {% endif %}
                        {% endifchanged %}
                        {% include "_match-item.html" %}
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="matches_ajax" style="display: none;">
                <span class="championat__h2">{% trans "Предстоящие матчи" %}</span>
                <div class="championat__wrp">

                </div>
            </div>
            <a class="to_all_matches" href="/matches/">{% trans "Ко всем матчам" %}</a>
        </section>
        {% if khl_table %}
            <div class="mthes">
                {% for k in khl_table %}
                    {% ifchanged k.0 %}
                        {% if not forloop.first %}
                                    </tr></tbody>
                                </table>
                            </div>
                        {% endif %}
                        <div class="mthes__title">{{ k.0.name }}</div>
                        <div class="mthes__wrp">
                            <table class="mthes__table">
                                <thead><tr>
                                    <td>Клуб</td>
                                    <td>1-й матч</td>
                                    <td>2-й матч</td>
                                    <td>3-й матч</td>
                                    <td>4-й матч</td>
                                    <td>5-й матч</td>
                                    <td>6-й матч</td>
                                    <td>7-й матч</td>
                                    <td>Счет в серии</td>
                                </tr></thead>
                                <tbody>
                    {% endifchanged %}
                        <tr>
                            <td>
                                {% for t in k.1 %}
                                    <div class="mthes__team">
                                        <img src="https://footballengine.tix-system.com/media/teams/{{ t.logo }}">
                                        <div class="mthes__name">{{ t.name }}</div>
                                    </div>
                                {% endfor %}
                            </td>
                            {% for t in k.2 %}
                                <td>
                                    {% if t.score %}
                                    <a href="{% url 'main:match' t.static_match.alias t.alias %}"
                                    class="{% if t.command_first == k.1.0 %}mthes__first{% else %}mthes__second{% endif %} mthes__score">{{ t.score }}</a>
                                    {% else %}
                                    {% if t.hide_match %}
                                    <a href="javascript:"
                                    class="{% if t.command_first == k.1.0 %}mthes__first{% else %}mthes__second{% endif %} mthes__game" style="cursor: pointer!important;">
                                            <span class="mthes__date">{{ t.datetime|date:"d.m.y H:i" }}</span>
                                        </a>
                                    {% else %}
                                    <a href="{% url 'main:match' t.static_match.alias t.alias %}"
                                    class="{% if t.command_first == k.1.0 %}mthes__first{% else %}mthes__second{% endif %} mthes__game">
                                            <span class="mthes__txt">Выбрать билеты</span>
                                            <span class="mthes__date">{{ t.datetime|date:"d.m.y H:i" }}</span>
                                        </a>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            {% if k.4 != 7 and k.4 != 0 %}
                                <td colspan="{{ k.4 }}"></td>
                            {% endif %}
                            <td class="mthes__big">{{ k.3.1 }} : {{ k.3.0 }}</td>
                {% endfor %}
                        </tr></tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    {% if sitesettings.support_your_team %}
        <section class="assist" style="background-image: url({{ sitesettings.support_your_team.url }});">
            <div class="wrapper wrapper-assist">
                <article class="assist__wrp">
                    <span class="assist__h2">{% trans "Поддержи свою команду" %}</span>
                    {% if sitesettings.support_your_team_text %}
                        <div class="assist__text">{{ sitesettings.support_your_team_text }}</div>
                    {% endif %}
                    <div class="support__button to_matches">{% trans "Афиша и билеты" %}</div>
                </article>
            </div>
        </section>
    {% endif %}

    {% if sitesettings.host.name == 'iihf-hockey.com' or sitesettings.host.name == 'en.iihf-hockey.com' or sitesettings.host.name == '127.0.0.1:8008' %}
    <section class="tour_t">
        <div class="wrapper">
            <div class="tour_t__wrp tour_t__wrp-title">
                <div class="tour_t__col active">
                    <div class="tour_t__top">{% trans "1/4 финала" %}</div>
                </div>
                <div class="tour_t__col">
                    <div class="tour_t__top">{% trans "1/2 финала" %}</div>
                </div>
                <div class="tour_t__col">
                    <div class="tour_t__top">{% trans "Финал" %}</div>
                </div>
            </div>
            <div class="tour_t__wrp">
                <div class="tour_t__col tour_t__col-teams active">
                    <div class="tour_t__row">
                        <div class="tour_t__el">
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">1</div>
                                    <a href="/matches/b1-a4/b1-a4-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Россияхоккей.jpg" alt="">
                                        Россия
                                    </a>
                                </div>
                                <a href="/matches/b1-a4/b1-a4-23-05-2019/" class="tour_t__link">4:3</a>
                            </div>
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">7</div>
                                    <a href="/matches/b1-a4/b1-a4-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/СШАхоккей.jpg" alt="">
                                        США
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tour_t__el">
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">4</div>
                                    <a href="/matches/a2-b3/a2-b3-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Финляндияхоккей.jpg" alt="">
                                        Финляндия
                                    </a>
                                </div>
                                <a href="/matches/a2-b3/a2-b3-23-05-2019/" class="tour_t__link">5:4 от</a>
                            </div>
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">5</div>
                                    <a href="/matches/a2-b3/a2-b3-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Швецияхоккей.jpg" alt="">
                                        Швеция
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour_t__row">
                        <div class="tour_t__el">
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">2</div>
                                    <a href="/matches/a1-b4/a1-b4-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Канадахоккей.jpg" alt="">
                                        Канада
                                    </a>
                                </div>
                                <a href="/matches/a1-b4/a1-b4-23-05-2019/" class="tour_t__link">3:2 от</a>
                            </div>
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">8</div>
                                    <a href="/matches/a1-b4/a1-b4-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Швейцарияхоккей.jpg" alt="">
                                        Швейцария
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tour_t__el">
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">3</div>
                                    <a href="/matches/b2-a3/b2-a3-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Германияхоккей.jpg" alt="">
                                        Германия
                                    </a>
                                </div>
                                <a href="/matches/b2-a3/b2-a3-23-05-2019/" class="tour_t__link">5:1</a>
                            </div>
                            <div class="tour_t__team">
                                <div class="tour_t__left">
                                    <div class="tour_t__number">6</div>
                                    <a href="/matches/b2-a3/b2-a3-23-05-2019/" class="tour_t__country">
                                        <img src="https://footballengine.tix-system.com/media/teams/Чехияхоккей.jpg" alt="">
                                        Чехия
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tour_t__col tour_t__col-teams">
                    <div class="tour_t__el">
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">1</div>
                                <a href="/matches/sf1-sf2/sf-1-sf-2-25-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Россияхоккей.jpg" alt="">
                                    Россия
                                </a>
                            </div>
                            <a href="/matches/sf1-sf2/sf-1-sf-2-25-05-2019/" class="tour_t__link">0:1</a>
                        </div>
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">4</div>
                                <a href="/matches/sf1-sf2/sf-1-sf-2-25-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Финляндияхоккей.jpg" alt="">
                                    Финляндия
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tour_t__el">
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">2</div>
                                <a href="/matches/sf-3-sf-4/sf-3-sf-4-25-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Канадахоккей.jpg" alt="">
                                    Канада
                                </a>
                            </div>
                            <a href="/matches/sf-3-sf-4/sf-3-sf-4-25-05-2019/" class="tour_t__link">5:1</a>
                        </div>
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">6</div>
                                <a href="/matches/sf-3-sf-4/sf-3-sf-4-25-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Чехияхоккей.jpg" alt="">
                                    Чехия
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tour_t__col tour_t__col-teams">
                    <div class="tour_t__el">
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">4</div>
                                <a href="/matches/f1-f2/f-1-f-2-26-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Финляндияхоккей.jpg" alt="">
                                    Финляндия
                                </a>
                            </div>
                            <a href="/matches/f1-f2/f-1-f-2-26-05-2019/" class="tour_t__link">26.05</a>
                        </div>
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">2</div>
                                <a href="/matches/f1-f2/f-1-f-2-26-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Канадахоккей.jpg" alt="">
                                    Канада
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tour_t__el tour_t__el-3d">
                        <div class="tour_3d">{% trans "За 3-е место" %}</div>
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">1</div>
                                <a href="/matches/lsf-1-lsf-2/lsf-1-lsf-2-26-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Россияхоккей.jpg" alt="">
                                    Россия
                                </a>
                            </div>
                            <a href="/matches/lsf-1-lsf-2/lsf-1-lsf-2-26-05-2019/" class="tour_t__link">26.05</a>
                        </div>
                        <div class="tour_t__team">
                            <div class="tour_t__left">
                                <div class="tour_t__number">6</div>
                                <a href="/matches/lsf-1-lsf-2/lsf-1-lsf-2-26-05-2019/" class="tour_t__country">
                                    <img src="https://footballengine.tix-system.com/media/teams/Чехияхоккей.jpg" alt="">
                                    Чехия
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if news and lang.code != 'en' %}
        <div class="wrapper">
            <section class="news">
                <span class="news__h2">{% trans "Новости" %}</span>
                <div class="news__slider">
                    {% for i in news %}
                        <article class="news__slide">
                            <div class="news__image" style="background: url({% if i.image %}{{ i.image.url }}{% else %}{% if sitesettings.news_logo %}{{ sitesettings.news_logo.url }}{% elif sitesettings.banner_main %}{{ sitesettings.banner_main.url }}{% endif %}{% endif %}) center no-repeat; background-size: cover;"></div>
                            <div class="news__right">
                                <div class="news__h3">{{ i.name }}</div>
                                <div class="news__text">{{ i.content|safe|striptags|truncatechars:140 }}</div>
                                <a href="{% url 'engine:news_item' i.alias %}" class="support__button support__button-news">{% trans "Подробнее" %}</a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}

    {% if sitesettings.site_word != "Лиги Чемпионов" or sitesettings.site_word != "Champions league" %}

        {% include "_corporate_form.html" %}   

    {% else %}
        <div class="wrapper">
            <div class="sponsors">
                <h2 class="news__h2">{% trans "Официальные спонсоры Лиги Чемпионов UEFA" %}</h2>
                <div class="sponsors__slider">
                    <img src="{% static 'img/sponsors__sponsor-1.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-2.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-3.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-4.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-5.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-6.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-7.png' %}" alt="">
                    <img src="{% static 'img/sponsors__sponsor-8.png' %}" alt="">
                </div>
            </div>
        </div>
    {% endif %}

    {% if data.content %}
        <div class="seo_text">
            <div class="wrapper">
                <article>
                    {{ data.content|safe }}
                </article>
            </div> 
        </div>
    {% endif %}
    {% if sitesettings.site_index_hml %}{{ sitesettings.site_index_hml|safe }}{% endif %}
</div>
{% endblock %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    $('.filter__tournament').click(function () {
        if($(this).hasClass('active')){
            $(this).removeClass('active')
            $('.matches_ajax').fadeOut()
            $('.championat.static').fadeIn()
        }else{
            $(this).toggleClass('active').siblings().removeClass('active')
            $('.match_loader').addClass('active')
            pk = $(this).data('id')
            $.ajax({
                url: '/ajax/',
                method: "POST",
                data: { type : 'get_champ_matches', pk : pk, csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    $('.match_loader').removeClass('active')
                    $('.matches_ajax .championat__wrp').html(data)
                    $('.matches_ajax').fadeIn()
                    $('.championat.static').fadeOut()
                }
            })
        }
    })

    $('.filter__team').click(function(){
        if(!$(this).hasClass('active')){
            $('.filter__window').removeClass('active')
            $('.filter__teams').addClass('filtered')
            pk = $(this).data('id')
            $.ajax({
                url: '/ajax/',
                method: "POST",
                data: { type : 'get_team_matches', pk : pk, csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    $('.match_loader').removeClass('active')
                    $('.matches_ajax .championat__wrp').html(data)
                    $('.matches_ajax').fadeIn()
                    $('.championat.static').fadeOut()
                }
            })
        }
    })

    $('#group_select').on('change', function(){
        if( $(this).val() == '0'){
            $('.group_item').fadeIn(0)
        }
        else{
            $('.group_item').fadeOut(0)
            $('.group_item[data-group="' + $(this).val() + '"]').fadeIn(0)

        }
    })
})
</script>
{% endblock %}
