{% extends "_base.html" %}

{% load static i18n %}

{% block extra_styles %}
    {% if sitesettings.canvas%}
        <link rel="stylesheet" href="{% static 'js/libs/canvas/canvas.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'js/libs/leaflet/leaflet.css' %}">
        {% if not data.default_scheme_colors %}
        <style>
            .map #sector_scheme g.active rect,
            .map #sector_scheme g.active polygon,
            .map #sector_scheme g.active path {
                stroke: #5fafff !important;
                fill: transparent !important;
            }
            .map #sector_scheme g.active tspan,
            .map #sector_scheme g.active text {
                stroke: #5fafff !important;
                fill: #5fafff !important;
            }
        </style>
        {% endif %}
    {% endif %}
{% endblock %}

{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ seo_title.match }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ seo_description.match }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ seo_keywords.match }}{% endif %}">
{% endblock %}
{% block container %}
<div class="match_top" data-flag="False">
    <div class="wrapper wrapper-match_top">
        <div class="match_top__utps">
            <div class="guarantee_contact__item">
                <img src="{% static 'img/utp_match-1.svg' %}" width="25" height="25">
                <div class="match_top__text">{% trans "Официальные билеты" %}</div>
            </div>
            <div class="guarantee_contact__item sberitem">
                <img src="{% static 'img/utp_match-3.svg' %}" width="30" height="30">
                <div class="match_top__text">
                    {% trans "Бесплатная экспресс доставка" %}
                </div>
            </div>
        </div>
        <img class="match_top__img" src="{% static 'img/email__pay.svg' %}">
    </div>
</div>
<div class="match">
    <div :class="'bottom_cart' + ( tickets_count ? ' active' : '' )">
        <div class="wrapper wrapper-bottom_cart">
            <div class="bottom_cart__clear">
                x <span>{% trans "очистить заказ" %}</span>
            </div>
            <div class="bottom_cart__center">
                <div class="bottom_cart__block">{% trans "Вы выбрали" %}: <span><span class="bottom_cart__counter">[[ tickets_count ]]</span> <span class="bottom_cart__word">[[ tickets_slug ]]</span></span></div>
                <div class="bottom_cart__separator">|</div>
                <div class="bottom_cart__block">{% trans "Итого" %} ({{ currency.mark }}): <span class="bottom_cart__summa">[[ tickets_price ]]</span></div>
            </div>
            <a href="/checkout/" rel="nofollow" class="bottom_cart__button">{% trans "Оформить заказ" %}</a>
        </div>
    </div>
    <div class="window_map">
        <div class="window_map_ac">
            <div class="window_map_ac__row_1">{% trans "УСПЕЙ КУПИТЬ" %}!</div>
            <div class="window_map_ac__row_2">{% trans "Билеты в этом секторе по выгодной цене" %}</div>
        </div>
        <div class="window_map__big">
            <div class="window_map__sec"><span></span></div>
            <div class="window_map__line">
                <div class="window_map__info">{% trans "В наличии" %} <span class="window_map__count"></span></div>
                <div class="window_map__info"><label class="window_map__fr">{% trans "Цена" %}:</label> <span class="window_map__pr"></span> {{ currency.mark }}</div>
            </div>
        </div>
        <div class="window_map__sector">
            <div class="window_map__sec">{% trans "Сектор" %}: <span></span></div>
            <div class="window_map__line">
                <div class="window_map__info">{% trans "Ряд" %}: <span class="window_map__row"></span></div>
                <div class="window_map__info">{% trans "Место" %}: <span class="window_map__seat"></span></div>
            </div>
            <div class="window_map__line good_price">
                <span class="window_map__fr"></span>
            </div>
            <div class="window_map__price">{% trans "Цена" %}: <span class="window_map__pr"></span> {{ currency.mark }}</div>
            <div class="window_map__price old">{% trans "Старая Цена" %}: <br /><span class="window_map__pr"></span> {{ currency.mark }}</div>
            {% if user.is_authenticated %}
                <div class="window_map__line window_map__line-src">
                    <div class="window_map__info">{% trans "Источник" %}: <span class="window_map__source"></span></div><br>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="match_loader active">
        <div class="match_loader__img"></div>
        <div class="match_loader__text">{% trans "Загружаем билеты" %}</div>
    </div>
    <div class="mobile_cart">
        <div class="map__badge">[[ tickets_count ]]</div>
    </div>
    <div class="match__head match__head-map">
        <div class="mathc__w">
            {% if data.command_first.logo %}<a href='{% url "main:team" data.command_first.alias %}'><img width="100px" alt="{{ data.command_first.name }}" src="https://footballengine.tix-system.com/media/teams/{{ data.command_first.logo }}"></a>{% endif %}
                {{ data.command_first.name }} - {{ data.command_second.name }}
            {% if data.command_second.logo %}<a href='{% url "main:team" data.command_second.alias %}'><img width="100px" alt="{{ data.command_second.name }}" src="https://footballengine.tix-system.com/media/teams/{{ data.command_second.logo }}"></a>{% endif %}
        </div>
        {% if data.score %}<div class="mathc__score">{{ data.score }}</div>{% endif %}
    </div>
    <div class="wrapper mobile_info">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <a href="/matches/">{% trans "Матчи" %}</a>
            <a href="{% url 'engine:match_preview' data.static_match.alias %}">{{ data.command_first.name }} - {{ data.command_second.name }}</a>
            <span>{{ data.command_first.name }} - {{ data.command_second.name }}, {% if data.datetime_tz %}{{ data.datetime_tz }}{% else %}{{ data.datetime }}{% endif %}</span>
        </div>
        <div class="championat__wrp">
            {% for m in new_matches %}
                {% include "_match-item.html" %}
            {% endfor %}
        </div>
        <h1 class="match__h1">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ seo_h1.match }}{% endif %}</h1>
        <div class="match__line">
            <div class="match__el match__el-1"><a href='{% url "engine:champ" data.champ.alias %}'>{{ data.champ.name }}</a></div>
            <div class="match__el match__el-2">{% if data.datetime_tz %}{{ data.datetime_tz }}{% else %}{{ data.datetime }}{% endif %}<span>{% trans "Указано местное время" %}</span></div>
            {% if data.stadium %}<div class="match__el match__el-3">{{ data.stadium.city.country }}, {{ data.stadium.city }}, {{ data.stadium.name }}</div>{% endif %}
        </div>
        {% if not data.carryall_id and not data.static_tickets.all|length and not data.match_is_past %}
            <div id="corporate-clients" class="match_empty">
                <div class="match_empty__title">К сожалению билетов на данное мероприятие пока нет. <br/>Вы можете оставить заявку и мы вам перезвоним.</div>
                <form class="corporate__form">
                    <div class="corporate__inputs">
                        <div class="corporate__input required">
                            <label for="name">{% trans "Имя" %}</label>
                            <input id="name" name="name" type="text" required>
                        </div>
                        <div class="corporate__input required">
                            <label for="phone">{% trans "Телефон" %}</label>
                            <input id="phone" name="phone" type="tel" autocomplete="off" required>
                        </div>
                        <div class="corporate__textarea">
                            <label for="comment">{% trans "Комментарий" %}</label>
                            <textarea id="comment"></textarea>
                        </div>
                        <button class="support__button" onclick="return false;">{% trans "Заказать звонок" %}</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="match_nav">
                {% if not match_ended %}
                    <div class="match_nav__title">{% trans "Выберите сектор" %}</div>
                {% endif %}
            </div>
            <div class="kids_block {% if not data.command_first.children_age %}warning{% endif %}">
                <div class="kids_block__row_1">
                    {% if data.command_first.children_age %}
                        {% trans "Дети до" %} {{ data.command_first.children_age }} {% trans "лет включительно - бесплатно" %}
                    {% else %}
                        {% trans "Каждому посетителю независимо от возраста необходимо приобретать билеты на матч" %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="match__h1 match__h1-mob">{{ data.command_first.name }} - {{ data.command_second.name }}  {% if data.score %}({{ data.score }}){% endif %}</div>
    {% if data.carryall_id %}
        {% if not match_ended %}
        <div class="map" data-id="{{ data.id }}" data-carryallid="{{ data.carryall_id }}">
        {% if data.carryall_id %}
            {% if not match_ended %}
                <div class="switch">
                    {% if not data.only_list %}
                    <div data-id="1" class="switch__element active">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M164,4946l-64-64V2935.2V988.5l64-64l64-64h1946.8h1946.8l64,64l64,64v1946.8V4882l-64,64l-64,64H2174.8H228L164,4946z"/><path d="M5814.5,4946l-64-64V2935.2V988.5l64-64l64-64h1946.8H9772l64,64l64,64v1946.8V4882l-64,64l-64,64H7825.2H5878.5L5814.5,4946z"/><path d="M164-704.5l-64-64v-1946.8V-4662l64-64l64-64h1946.8h1946.8l64,64l64,64v1946.8v1946.8l-64,64l-64,64H2174.8H228L164-704.5z"/><path d="M5814.5-704.5l-64-64v-1946.8V-4662l64-64l64-64h1946.8H9772l64,64l64,64v1946.8v1946.8l-64,64l-64,64H7825.2H5878.5L5814.5-704.5z"/></g></g></svg>
                        {% trans "На схеме" %}
                    </div>
                    {% endif %}
                    <div data-id="2" class="switch__element">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512"><title>list-view-glyph</title><path d="M512,21.33v85.33A21.33,21.33,0,0,1,490.67,128H21.33A21.33,21.33,0,0,1,0,106.67V21.33A21.33,21.33,0,0,1,21.33,0H490.67A21.33,21.33,0,0,1,512,21.33ZM490.67,192H21.33A21.33,21.33,0,0,0,0,213.33v85.33A21.33,21.33,0,0,0,21.33,320H490.67A21.33,21.33,0,0,0,512,298.67V213.33A21.33,21.33,0,0,0,490.67,192Zm0,192H21.33A21.33,21.33,0,0,0,0,405.33v85.33A21.33,21.33,0,0,0,21.33,512H490.67A21.33,21.33,0,0,0,512,490.67V405.33A21.33,21.33,0,0,0,490.67,384Z"/></svg>
                        {% trans "Списком" %}
                    </div>
                </div>
            {% else %}
                <div class="switch">
                    <div data-id="2" class="switch__element active blank" style="border-radius: 4px;">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512"><title>list-view-glyph</title><path d="M512,21.33v85.33A21.33,21.33,0,0,1,490.67,128H21.33A21.33,21.33,0,0,1,0,106.67V21.33A21.33,21.33,0,0,1,21.33,0H490.67A21.33,21.33,0,0,1,512,21.33ZM490.67,192H21.33A21.33,21.33,0,0,0,0,213.33v85.33A21.33,21.33,0,0,0,21.33,320H490.67A21.33,21.33,0,0,0,512,298.67V213.33A21.33,21.33,0,0,0,490.67,192Zm0,192H21.33A21.33,21.33,0,0,0,0,405.33v85.33A21.33,21.33,0,0,0,21.33,512H490.67A21.33,21.33,0,0,0,512,490.67V405.33A21.33,21.33,0,0,0,490.67,384Z"/></svg>
                        {% trans "Списком" %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% if not match_ended %}
                <div class="switch">
                    <div data-id="1" class="switch__element active">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M164,4946l-64-64V2935.2V988.5l64-64l64-64h1946.8h1946.8l64,64l64,64v1946.8V4882l-64,64l-64,64H2174.8H228L164,4946z"/><path d="M5814.5,4946l-64-64V2935.2V988.5l64-64l64-64h1946.8H9772l64,64l64,64v1946.8V4882l-64,64l-64,64H7825.2H5878.5L5814.5,4946z"/><path d="M164-704.5l-64-64v-1946.8V-4662l64-64l64-64h1946.8h1946.8l64,64l64,64v1946.8v1946.8l-64,64l-64,64H2174.8H228L164-704.5z"/><path d="M5814.5-704.5l-64-64v-1946.8V-4662l64-64l64-64h1946.8H9772l64,64l64,64v1946.8v1946.8l-64,64l-64,64H7825.2H5878.5L5814.5-704.5z"/></g></g></svg>
                        {% trans "На схеме" %}
                    </div>
                    <div data-id="2" class="switch__element">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512"><title>list-view-glyph</title><path d="M512,21.33v85.33A21.33,21.33,0,0,1,490.67,128H21.33A21.33,21.33,0,0,1,0,106.67V21.33A21.33,21.33,0,0,1,21.33,0H490.67A21.33,21.33,0,0,1,512,21.33ZM490.67,192H21.33A21.33,21.33,0,0,0,0,213.33v85.33A21.33,21.33,0,0,0,21.33,320H490.67A21.33,21.33,0,0,0,512,298.67V213.33A21.33,21.33,0,0,0,490.67,192Zm0,192H21.33A21.33,21.33,0,0,0,0,405.33v85.33A21.33,21.33,0,0,0,21.33,512H490.67A21.33,21.33,0,0,0,512,490.67V405.33A21.33,21.33,0,0,0,490.67,384Z"/></svg>
                        {% trans "Списком" %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if not data.only_list %}
            <div data-id="1" class="map__condition map__condition-scheme active">
                {% if sitesettings.legend %}
                    <div class="legend_row">
                        <div class="legend_row__wrp">
                        
                        </div>
                        <div class="legend_filter legend_filter-scheme">
                            {% include "inc/legend_filter.html" %}
                        </div>
                    </div>
                {% endif %}
                {% include "inc/map_elements.html" %}
            </div>
            <div class="wrapper">
                <div data-id="2" class="map__condition map__condition-list">
                    <table class="map_table">
                        <thead>
                            <tr>
                                <th>{% trans "Категория" %}</th>
                                <th>{% trans "Наличие" %}</th>
                                <th>{% trans "Цена" %} ({{ currency.mark }})</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="map__small_map append_svg"></div>
                </div>
            </div>
            {% else %}
            <div class="wrapper">
                <div data-id="2" class="map__condition map__condition-list active">
                    <table class="map_table">
                        <thead>
                            <tr>
                                <th>{% trans "Категория" %}</th>
                                <th>{% trans "Наличие" %}</th>
                                <th>{% trans "Цена" %} ({{ currency.mark }})</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="map__small_map append_svg"></div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
    {% if not data.carryall_id %}
        {% if not match_ended %}
            {% if data.static_tickets.all|length %}
            <div class="wrapper">
                <div class="switch">
                    <div data-id="1" class="switch__element active">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M164,4946l-64-64V2935.2V988.5l64-64l64-64h1946.8h1946.8l64,64l64,64v1946.8V4882l-64,64l-64,64H2174.8H228L164,4946z"></path><path d="M5814.5,4946l-64-64V2935.2V988.5l64-64l64-64h1946.8H9772l64,64l64,64v1946.8V4882l-64,64l-64,64H7825.2H5878.5L5814.5,4946z"></path><path d="M164-704.5l-64-64v-1946.8V-4662l64-64l64-64h1946.8h1946.8l64,64l64,64v1946.8v1946.8l-64,64l-64,64H2174.8H228L164-704.5z"></path><path d="M5814.5-704.5l-64-64v-1946.8V-4662l64-64l64-64h1946.8H9772l64,64l64,64v1946.8v1946.8l-64,64l-64,64H7825.2H5878.5L5814.5-704.5z"></path></g></g></svg>
                        На схеме
                    </div>
                    <div data-id="2" class="switch__element">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512"><title>list-view-glyph</title><path d="M512,21.33v85.33A21.33,21.33,0,0,1,490.67,128H21.33A21.33,21.33,0,0,1,0,106.67V21.33A21.33,21.33,0,0,1,21.33,0H490.67A21.33,21.33,0,0,1,512,21.33ZM490.67,192H21.33A21.33,21.33,0,0,0,0,213.33v85.33A21.33,21.33,0,0,0,21.33,320H490.67A21.33,21.33,0,0,0,512,298.67V213.33A21.33,21.33,0,0,0,490.67,192Zm0,192H21.33A21.33,21.33,0,0,0,0,405.33v85.33A21.33,21.33,0,0,0,21.33,512H490.67A21.33,21.33,0,0,0,512,490.67V405.33A21.33,21.33,0,0,0,490.67,384Z"></path></svg>
                        Списком
                    </div>
                </div>
                <div class="map__condition map__condition-list active" data-id="1">
                    {% if data.stadium.image %}
                        <div class="map__small_map" style="width: 100%; height: 550px">
                            {{ data.svg_content|safe }}
                        </div>
                    {% endif %}
                </div>
                <div class="map__condition map__condition-list" data-id="2">
                    <table class="map_table">
                        <thead>
                            <tr>
                                <th>{% trans "Категория" %}</th>
                                <th>{% trans "Наличие" %}</th>
                                <th>{% trans "Цена" %} ({{ currency.mark }})</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" class="long_col">
                                    <div class="long_col__wrp">
                                        <img src="{% static 'img/td_title.png' %}" alt="">
                                        <span>{% trans "СТАНДАРТНЫЕ КАТЕГОРИИ БИЛЕТОВ" %}</span>
                                    </div>
                                </td>
                            </tr>
                            {% for t in static_tickets %}
                                <tr class="static_tickets_tr" style="border-left: 5px solid {% if t.color %}{{ t.color }}{% else %}transparent{% endif %}">
                                    <td class="sec_desc">
                                        <span>{{ t.sector }}</span>
                                    </td>
                                    <td>{{ t.count }}</td>
                                    <td>{% if t.price|floatformat:"-2" == '0' %}{% trans "Под запрос" %}{% else %}{{ t.price|floatformat:"-2" }} {{ currency.mark }}{% endif %}</td>
                                    <td class="static_ticket_buy">
                                        <span class="minus"></span>
                                        <input data-id="{{ t.id }}" disabled value="0" type="text" maxlength="{{ t.count }}">
                                        <span class="plus"></span>
                                    </td>
                                    {% if t.description %}
                                        <td class="drop_col" colspan="4">
                                            <p>{{ t.description|safe }}</p>
                                            {% if t.image %}
                                                <div class="drop_col__img">
                                                    <img src="{{ t.image.url }}">
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% if static_tickets_vip %}
                            <tr>
                                <td colspan="4" class="long_col long_col-vip">
                                    <div class="long_col__wrp">
                                        <img src="{% static 'img/td_title.png' %}" alt="">
                                        <span>{% trans "VIP КАТЕГОРИИ БИЛЕТОВ" %}</span>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% for t in static_tickets_vip %}
                                <tr class="static_tickets_tr" style="border-left: 5px solid {% if t.color %}{{ t.color }}{% else %}transparent{% endif %}">
                                    <td class="sec_desc">
                                        <span>{{ t.sector }}</span>
                                        {% if t.description %}<div class="sec_desc__alert">{{ t.description|safe }}{% if t.image %}<br /><img src="{{ t.image.url }}">{% endif %}</div>{% endif %}
                                    </td>
                                    <td>{{ t.count }}</td>
                                    <td>{% if t.price|floatformat:"-2" == '0' %}{% trans "Под запрос" %}{% else %}{{ t.price|floatformat:"-2" }} {{ currency.mark }}{% endif %}</td>
                                    <td class="static_ticket_buy">
                                        <span class="minus"></span>
                                        <input data-id="{{ t.id }}" disabled value="0" type="text" maxlength="{{ t.count }}">
                                        <span class="plus"></span>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="long_col">
                                    <div class="long_col__wrp">
                                        <img src="https://footballengine.tix-system.com/static/img/matche_war.png">
                                        <span>{% trans "Стоимость указана за билет. Перелет и проживание в цену не входят" %}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if data.stadium.image %}
                        <div class="map__small_map mobile-hidden">
                            {{ data.svg_content|safe }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if not match_ended %}
        {% if data.carryall_id or data.static_tickets.all|length or data.match_is_past %}
            <section class="match_utps">
                <div class="wrapper">
                    <div class="main_utps__wrp">
                        <div class="main_utps__element">
                            <img width="54" height="54" src="{% static 'img/new_utps__element-1.png' %}" alt="">
                            <div class="main_utps__text">
                                <span class="main_utps__h2">
                                    {% trans "Официальные билеты" %}
                                </span>
                                <div class="main_utps__desc">
                                {% trans "На нашем сайте вы приобретаете только официальные билеты" %}.<br />{% trans "Мы гарантируем подлинность билетов и своевременность доставки" %}.
                                </div>
                            </div>
                        </div>
                        <div class="main_utps__element">
                            <img width="54" height="54" src="{% static 'img/new_utps__element-2.png' %}" alt="">
                            <div class="main_utps__text">
                                <span class="main_utps__h2">
                                    {% trans "VIP менеджер для каждого" %}
                                </span>
                                <div class="main_utps__desc">
                                    {% trans "Вы можете обратиться к менеджеру, чтобы подобрать наилучшие места для просмотра мероприятия. Не стесняйтесь спросить" %}.
                                </div>
                            </div>
                        </div>
                        <div class="main_utps__element">
                            <img width="54" height="54" src="{% static 'img/new_utps__element-3.png' %}" alt="">
                            <div class="main_utps__text">
                                <span class="main_utps__h2">
                                    {% trans "Банковские гарантии" %}
                                </span>
                                <div class="main_utps__desc">
                                    {% trans "Безопасность сделок" %}.<br>{% trans "Аккредитованное агентство Visa / MasterCard" %}
                                </div>
                            </div>
                        </div>
                        <div class="main_utps__element">
                            <img width="54" height="54" src="{% static 'img/new_utps__element-4.png' %}" alt="">
                            <div class="main_utps__text">
                                <span class="main_utps__h2">
                                    {% trans "Официальный договор" %}
                                </span>
                                <div class="main_utps__desc">
                                    {% trans "При оформлении заказа на сайте, вы становитесь автоматически защищены официальным договором, заключенным с нашей компанией" %}.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
    <div class="seo_text seo_text-grey {% if match_ended %}seo_text-ended{% endif %}">
        <div class="wrapper">
            <article>
                {% if data.content %}
                    {{ data.content|safe }}
                {% else %}
                    {{ seo_content|safe }}
                {% endif %}
            </article>
            {% if match_ended %}
            <div class="statistic">
                <div class="statistic__block">
                    <div class="statistic__head">
                        <div class="statistic__img" style="background: url({% static 'img/statistic__img-1.png' %}) center no-repeat; background-size: 100%;"></div>
                        <div>{% trans "Голы" %}</div>
                    </div>
                    <div class="statistic__row statistic__row-col">
                        <div class="statistic__col">
                            <div class="statistic__name">{{ data.command_first.name }}</div>
                            <div class="statistic__players">
                                {% for i in data.goals.0 %}
                                    <div class="statistic__info">{{ i.player }} {% if i.player2 %}({{ i.player2 }}){% endif %}, {{ i.minute }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="statistic__col">
                            <div class="statistic__name">{{ data.command_second.name }}</div>
                            <div class="statistic__players">
                                {% for i in data.goals.1 %}
                                    <div class="statistic__info">{{ i.player }} {% if i.player2 %}({{ i.player2 }}){% endif %}, {{ i.minute }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statistic__block">
                    <div class="statistic__head">
                        <div class="statistic__img" style="background: url({% static 'img/statistic__img-2.png' %}) center no-repeat; background-size: 100%;"></div>
                        <div>{% trans "Составы" %}</div>
                    </div>
                    <div class="statistic__row statistic__row-col">
                        <div class="statistic__col">
                            <div class="statistic__name">{{ data.command_first.name }}</div>
                            <div class="statistic__type">{% trans "Основной состав" %}</div>
                            <div class="statistic__players">
                                {% for i in data.osnova1 %}
                                    <div class="statistic__info">{{ i.name }}, {{ i.pos }}, {{ i.number }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="statistic__col">
                            <div class="statistic__name">{{ data.command_second.name }}</div>
                            <div class="statistic__type">{% trans "Основной состав" %}</div>
                            <div class="statistic__players">
                                {% for i in data.osnova2 %}
                                    <div class="statistic__info">{{ i.name }}, {{ i.pos }}, {{ i.number }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statistic__block">
                    <div class="statistic__head">
                        <div class="statistic__img" style="background: url({% static 'img/statistic__img-3.png' %}) center no-repeat; background-size: 100%;"></div>
                        <div>{% trans "Нарушения" %}</div>
                    </div>
                    <div class="statistic__row statistic__players-foals">
                        <div class="statistic__players">
                            {% if data.foals %}
                                {% for i in data.foals.0 %}
                                    <div class="statistic__info">
                                        {{ i.player }}, {{ i.minute }} <div class="statistic__card statistic__card-{{ i.type }}"></div>
                                    </div>
                                {% endfor %}
                                {% for i in data.foals.1 %}
                                    <div class="statistic__info">
                                        {{ i.player }}, {{ i.minute }} <div class="statistic__card statistic__card-{{ i.type }}"></div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="statistic__info">{% trans "В этом матче нарушений не было" %}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if data.static_tickets.all %}
    <div class="sector_choice_bg">
    {% for i in data.static_tickets.all %}
        <div class="sector_choice" data-id="{{ i.pk }}">
            <div class="close_button modal__close" style="width: 15px; height: 15px;" onclick="$(this).parents('.sector_choice_bg, .sector_choice').fadeOut()"></div>
            <div class="sector_choice_name" {% if i.color %}style="color: {{ i.color }}"{% endif %}>{{ i.sector }}</div>
            <div class="sector_choice_descript">
                Выберите кол-во билетов:
            </div>
            <div class="sector_choice_names">
                <div>В наличии</div>
                <div>По цене:</div>
                <div>Вам нужно:</div>
            </div>
            <div class="sector_choice__ditails">
                <div data-count="6" data-row="1st_lateral" class="row__wrp">
                    <div class="sector_choice_itemss">
                        <div class="inline-top row__count">{{ i.count }}<span>&nbsp;</span></div>
                        <div class="inline-top">{{ i.price|floatformat:"-2" }}<span class="rur"></span></div>
                        <div class="inline-top cart-control static_ticket_buy">
                            <span disabled="" class="cart-control__btn minus"></span>
                            <input data-id="{{ i.pk }}" disabled="" value="0" type="text" maxlength="{{ i.count }}">
                            <span class="cart-control__btn plus"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
<div class="sector_choice_bg ml">
    <div class="sector_choice">
        <div class="close_button modal__close" style="width: 15px; height: 15px;" onclick="$(this).parents('.sector_choice_bg, .sector_choice').removeClass('active')"></div>
        <div class="sector_choice_name">name</div>
        <div class="sector_choice_descript">
            Выберите кол-во билетов:
        </div>
        <div class="sector_choice_names">
            <div>В наличии</div>
            <div>По цене:</div>
            <div>Вам нужно:</div>
        </div>
        <div class="sector_choice__ditails">
            <div class="row__wrp">
                <div class="sector_choice_itemss">
                    <div class="inline-top row__count"></div>
                    <div class="inline-top row__price"></div>
                    <div class="inline-top cart-control static_ticket_buy static_ticket_buy_m">
                        <span disabled="" class="cart-control__btn minus"></span>
                        <input class="sector_input" data-id="" data-count="" disabled="" value="0" type="text">
                        <span class="cart-control__btn plus"></span>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<div class="svg_block" style="display: none;">{{ svg }}</div>
{% endblock %}
{% block extra_scripts %}
    <script>
        var data_id = '{% if data.id %}{{ data.id }}{% endif %}';
    </script>
    {% if sitesettings.canvas %}
        <script src="{% static 'js/libs/canvas/hidpi-canvas.min.js' %}"></script>
        <script src="{% static 'js/libs/canvas/scheme-designer.min.js' %}"></script>
        <script src="{% static 'js/libs/canvas/scheme-renderer.js' %}"></script>
        <script src="{% static 'js/libs/canvas/scheme-init.js' %}"></script>
        <script>
            var schemeData = {{ canvas|safe }};
            
            $(document).ready(function () {
                window.startCanvas();
            });
        </script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/libs/leaflet/jquery.sticky-kit.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/leaflet/leaflet.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/leaflet/LSVGLayer.js' %}"></script>
    {% endif %}
<script>
$(document).ready(function(){
    $('.append_svg').html($('.svg_block').text())
    var legend_min,
        legend_max,
        cur_round = cur_slug == "RUR" ? 100 : 10

    get_data_flag = function(){
        return optimize_prices = $('.match_top').attr('data-flag');
    }

    function init_all(){
        
        // Переменные для промежутков цен (округляем до десятков)
        var legend_range = parseInt(Math.floor((legend_max - legend_min) / 3)),
            legend_range_1 = Math.round((legend_min + legend_range) / cur_round) * cur_round, // 1-ая отсечка
            legend_range_2 = Math.round((legend_min + legend_range * 2) / cur_round) * cur_round; // 2-ая отсечка

        if (legend_min != legend_max) {
            if ($(".legend_row__wrp").length) {
                $(".legend_row__wrp").html('<div data-color="green" class="legend_row_el legend_row_el-green">' + legend_min + '{{ currency.mark }} +</div>\
                <div data-color="yellow" class="legend_row_el legend_row_el-yellow">' + legend_range_1 +'{{ currency.mark }} +</div>\
                <div data-color="red" class="legend_row_el legend_row_el-red">' + legend_range_2 + '{{ currency.mark }} +</div>');
            }
        } else {
            $(".legend_row").hide();
        }

        /* Схема с ручными ценами */
        {% if data.static_tickets.all %}
            $('svg > g').hover(function () {
                $('svg > g[data-category]').css('opacity', '0.2')
                $('svg > g[data-category=' + $(this).data('category') + ']').css('opacity', '1')

            }, function () {
                $('svg > g').css('opacity', '1')
            })
            {% for i in data.static_tickets.all %}
                $('{% for s in i.light_s %}{% if forloop.last %}#{{ s }}{% else %}#{{ s }}, {% endif %}{% endfor %}').each(function () {
                    $(this).data({'category': '{{ i.pk }}', 'data-category': '{{ i.pk }}', 'handmade': true, 'price': '{{ i.price|floatformat:"-2" }}', 'sector': '{{ i.sector }}', 'count' : '{{ i.count }}'})
                    $(this).attr('data-category', '{{ i.pk }}')
                    $(this).attr('class', 'handmade')
                })
                $('svg').on('click', '{% for s in i.light_s %}{% if forloop.last %}#{{ s }}{% else %}#{{ s }}, {% endif %}{% endfor %}', function(){
                    $('.sector_choice_bg:not(.ml)').fadeIn()
                    $('.sector_choice[data-id=' + $(this).data('category') + ']').fadeIn(300)
                })
            {% endfor %}
        {% endif %}
        /* Схема с ручными ценами */

        var data_id = $('.map').data('id'),
            data_carryall_id = $('.map').data('carryallid');

        for (i = 0; i < scheme_sectors_count.length; i ++) {

            // Определяем цвет, в который красим сектор в зависимости от цен (изначально зеленый)
            var legend_min_price = parseInt(scheme_sectors_count[i][1].split('-')[0]),
                legend_class = "";
                
            
            {% if sitesettings.legend %}
                if (legend_min != legend_max) {
                    // Если попадает во второй промежутко цен — желтый, третий — красный
                    if (legend_min_price >= legend_range_1 && legend_min_price < legend_range_2) {
                        legend_class = "m_yellow";
                    } else if (legend_min_price >= legend_range_2) {
                        legend_class = "m_red";
                    } else {
                        legend_class = "m_green";
                    }
                }
            {% endif %}

            $('#sector_scheme > g#' + scheme_sectors_count[i][0]).attr('class', 'active ' + legend_class)
                .attr('data-price', scheme_sectors_count[i][1])
                .attr('data-count', scheme_sectors_count[i][2])
                .attr('data-pk', scheme_sectors_count[i][4])
                .attr('data-name', scheme_sectors_count[i][5])
                .attr('data-ml', scheme_sectors_count[i][6])
            {% if not data.no_sellout %}{% if not data.static.no_sellout %}.attr('data-is_ours', scheme_sectors_count[i][3]);{% endif %}{% endif %}
            
            $('.map__small_map').find('#sector_scheme > g#' + scheme_sectors_count[i][0])
                .attr('class', 'active ' + legend_class)
                .attr('data-price', scheme_sectors_count[i][1])
                .attr('data-count', scheme_sectors_count[i][2])
                .attr('data-is_ours', scheme_sectors_count[i][3])
                .attr('data-pk', scheme_sectors_count[i][4])
                .attr('data-name', scheme_sectors_count[i][5])
                .attr('data-ml', scheme_sectors_count[i][6]);
        }

        // Подгрузить сектор
        $('.map__condition-scheme #sector_scheme g.active').on('click', function(){
            var sector_id = $(this).data('id'),
                sector_name = $(this).data('name'),
                sector_pk = $(this).data('pk'),
                sector_count = $(this).data('count'),
                sector_price = $(this).data('price'),
                sector_is_ours = $(this).data('is_ours'),
                sector_is_ml = $(this).data('ml'),
                sector_slug = $(this).data('id'),
                price;

            if (sector_is_ml) {
                $('.match_loader').addClass('active');

                $.ajax({
                    url: "{% if data.static.id %}{% url 'engine:match' data.static.static_match.alias data.static.alias %}{% else %}{% url 'engine:match' data.static_match.alias data.alias %}{% endif %}",
                    method: "POST",
                    data: { type : 'get_sector_info_list', optimize_prices: get_data_flag(), sector : sector_slug, match_id : data_carryall_id, csrfmiddlewaretoken: getCookie('csrftoken')},
                    success: function (data, textStatus){
                        var items = JSON.parse(data)[0]['tickets'],
                            f_items = items;

                        for (i = 0; i < f_items.length; i++){
                            $(".ml .sector_choice_name").html(f_items[i]["sn"]);
                            $(".ml .row__count").html(f_items[i]["qty"]);
                            $(".ml .row__price").html(f_items[i]["p"]);
                            $(".ml .sector_input").attr("data-id", f_items[i]["id"])
                            .attr("data-count", f_items[i]["qty"])
                            .attr("data-json", JSON.stringify(f_items[i]))
                            .val($('.caryall_mini_row[data-id=' + f_items[i]['id'] +']').length ? $('.caryall_mini_row[data-id=' + f_items[i]['id'] +']').find('.t_count').html() : '0');
                        }
                        $(".sector_choice_bg.ml").addClass("active");
                        $('.match_loader').removeClass('active');
                    },
                    error: function (error) {
                        $('.match_loader').removeClass('active');
                        $('.switch div[data-id=2]').trigger('click')
                        $('tr[data-slug=' + sector_slug + ']').trigger('click')
                    }
                })
            } else {
                if (isMobile.any()) {
                    scheme_sectors_count.forEach(function(em) {
                        if (em[0] == sector_id) {
                            price = em[1];
                        }
                    });

                    $(".mobile_sector__title-ac").removeClass("active");

                    if (sector_is_ours) {
                    $(".mobile_sector__title-ac").addClass("active");
                    }

                    $(".mobile_sector__title-title").html(sector_name);
                    $(".mobile_sector__price span").html(price);
                    $(".mobile_sector").addClass("active");

                    $(".mobile_sector__button").attr("data-id", sector_id).attr("data-name", sector_name).attr('data-pk', sector_pk);
                } else {
                    load_sector(sector_id, sector_name, sector_pk);
                }
            }
        })

        // Открыть сектор моб.
        $('.mobile_sector__button').on('click', function(){
            load_sector($(this).attr("data-id"), $(this).attr("data-name"), $(this).attr("data-pk"));
            $(".mobile_sector").removeClass("active");
        });

        // Показать сектор
        function load_sector(sector_id, sector_name, sector_pk) {
            var elem = "path";

            $('.match_loader').addClass('active');
            $(".map_profit").removeClass("active");
            $('.green_seats, .purple_seats').removeClass('active')
            $('.map_profit').click(function () {
                $(this).removeClass('active')
                $('.green_seats, .purple_seats').removeClass('active')
            })

            $.ajax({
                url: "{% if data.static.id %}{% url 'engine:match' data.static.static_match.alias data.static.alias %}{% else %}{% url 'engine:match' data.static_match.alias data.alias %}{% endif %}",
                method: "POST",
                data: { type : 'get_sector_info', sector : sector_id, optimize_prices: get_data_flag(), 'pk' : sector_pk, match_id : data_carryall_id, csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    var items = JSON.parse(data)[1]['tickets'],
                        f_items = items,
                        shm = JSON.parse(data)[0];

                    $('.sector_popup').addClass('active');
                    $('.sector_popup__name').html(sector_name);
                    $('.sector_popup .mapa').html(shm);

                    if ($('.sector_popup svg#crocus').length) {
                        elem = "circle";
                    }

                    for (i = 0; i < f_items.length; i++) {
                        var id = f_items[i]['id'],
                            row = f_items[i]['r'],
                            seat = parseInt(f_items[i]['s']),
                            is_ours = 0,
                            is_st = 0;

                        if (f_items[i]['ot']){
                            {% if not data.no_sellout %}{% if not data.static.no_sellout %}$('.sector_popup g#' + sector_id + " g:nth-child(" + parseInt(f_items[i]['r']) + ") " + elem + ":nth-child(" + parseInt(f_items[i]['s']) + ")").attr('class','active our'){% endif %}{% endif %}// no_sellout - {{ data.no_sellout }}
                            is_ours = 1;
                            {% if not data.no_sellout %}{% if not data.static.no_sellout %}$(".map_profit, .green_seats").addClass("active");{% endif %}{% endif %}
                        }

                         if (f_items[i]['special_seat']){
                            is_st = 1;
                        }

                        if (row && seat && $('.sector_popup svg#crocus').length) {
                            var row_row = (parseInt(row) ? " g:nth-child(" + row + ") " : ' g[data-row-id="' + row + '"] '),
                                place =  $('.sector_popup g#' + sector_id + row_row + elem + ":nth-child(" + seat + ")"),
                                left,
                                top,
                                font_size,
                                ot = f_items[i]['ot'] ? "true" : "",
                                st = f_items[i]['special_seat'] ? "true" : "";

                            $('.sector_popup g#' + sector_id + row_row + elem + ":nth-child(" + seat + ")").attr('class','active').attr({'json' : JSON.stringify(f_items[i]).replace(/"/g, "'"), 'hash': f_items[i]['id'],'data-price': f_items[i]['p'], 'data-seat': f_items[i]['s'], 'data-row': f_items[i]['r']{% if not data.no_sellout %}, 'data-ot': ot{% endif %}, 'data-st': st, 'data-sector': f_items[i]['sn'], {% if user.is_authenticated %}'data-seller': f_items[i]['pr']{% endif %}});

                            if (place.length) {
                                var scheme = $('.sector_popup svg#crocus'),
                                    cx = parseInt(place.attr('cx')),
                                    cy = parseInt(place.attr('cy')),
                                    tr = place.attr('transform'),
                                    tr_x = 0,
                                    tr_y = 0,
                                    text_class = "map_place";

                                if (is_ours) {
                                    text_class += " is_ours";
                                }

                                if (is_st) {
                                    text_class += " is_st";
                                }

                                if (tr && tr.indexOf('rotate') < 0) {
                                    tr_x = parseInt(tr.slice(tr.indexOf('(') + 1, tr.indexOf(',')));
                                    tr_y = parseInt(tr.slice(tr.indexOf(',') + 1, tr.indexOf(')')));
                                }

                                if (seat > 9) {
                                    left = 3.4;
                                    top = 3;
                                    font_size = 7;

                                    if (seat > 99) {
                                        left = 3;
                                        top = 2;
                                        font_size = 4;
                                    }
                                } else {
                                    left = 1.6;
                                    top = 3;
                                    font_size = 7;
                                }

                                // Создаем текстовый элемент
                                var text = document.createElementNS('http://www.w3.org/2000/svg', 'text');

                                // Задаем нужные аттрибуты
                                if (cx && cy && seat) {
                                    text.setAttribute('data-text', id);
                                    text.setAttribute('x', cx + tr_x - left);
                                    text.setAttribute('y', cy + tr_y + top);
                                    text.setAttribute('style', 'font-size: ' + font_size + 'px; display: none;');
                                    text.setAttribute('class', text_class);
                                    text.innerHTML = seat;
                                    scheme[0].appendChild(text);
                                }
                            }
                        } else {
                            if ((f_items[i]['r'][0] == '0' || f_items[i]['r'][0] == '-') && parseInt(f_items[i]['s']) && $('.sector_popup svg#crocus').length){
                                $('.sector_popup g#' + sector_id + ' g[data-row-id="' + f_items[i]['r'] + '"] '  + elem + ":nth-child(" + seat + ")").attr('class','active').attr({'json' : JSON.stringify(f_items[i]).replace(/"/g, "'"), 'hash': f_items[i]['id'],'data-price': f_items[i]['p'], 'data-seat': f_items[i]['s'], 'data-row': f_items[i]['r'], 'data-ot': ot, 'data-sector': f_items[i]['sn'], {% if user.is_authenticated %}'data-seller': f_items[i]['pr']{% endif %}});
                            }
                        }

                         if (is_st) {
                            $(".map_profit").addClass("active");
                            $(".purple_seats").addClass("active");
                        }
                    }

                    for (i = 0; i < added_ticks.length; i++){
                        $(elem + '[hash=' + added_ticks[i] + ']').attr('class','active selected');

                        $("[data-text=" + added_ticks[i] + "]").show();
                    }
                },
                error: function (error) {
                    $('.match_loader').removeClass('active');
                    $('.switch div[data-id=2]').trigger('click')
                    $('tr[data-slug=' + sector_id + '] .map_table__show:first-child').trigger('click')
                }
            }).done(function(){
                $('.caryall_mini_row').each(function(){
                    $('path[hash=' + $(this).data('hash') + ']').attr('class','active selected');
                });

                init_scheme_2();

                $('.match_loader').removeClass('active');
            });
        }

        // Открыть сектор - список
        $('body').on('click', '.map_table__show', function(){
            var $this = $(this),
                $parent = $this.closest('tr'),
                sector_id = $parent.data('slug'),
                auth_user = '';

            if ($parent.hasClass('active')) {
                $parent.removeClass('active');
            } else {
                $parent.addClass('active');
            }

            if (!$parent.hasClass('loaded')) {
                $parent.addClass('loaded');

            $('.match_loader').addClass('active');

            $.ajax({
                url: "{% if data.static.id %}{% url 'engine:match' data.static.static_match.alias data.static.alias %}{% else %}{% url 'engine:match' data.static_match.alias data.alias %}{% endif %}",
                method: "POST",
                data: { type : 'get_sector_info_list', optimize_prices: get_data_flag(), sector : sector_id, match_id : data_carryall_id, csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    var items = JSON.parse(data)[0]['tickets'],
                        f_items = items;

                    if ($this.hasClass("ml")) {
                        for (i = 0; i < f_items.length; i++){
                            var countt = + $('.caryall_mini_row[data-id=' + f_items[i]['id'] +']').length ? $('.caryall_mini_row[data-id=' + f_items[i]['id'] +"]").find(".t_count").html() : '0';
                            $parent.append('<td class="map_table__row map_table__row-ml">\
                                <div class="sec_desc">\
                                    <span>' + f_items[i]["sn"] + '</span>\
                                </div>\
                                <div>' + f_items[i]["qty"] + '</div>\
                                <div>' + f_items[i]["p"] + '</div>\
                                <div class="static_ticket_buy static_ticket_buy_m">\
                                    <span class="minus"></span>\
                                    <input data-json=\'' + JSON.stringify(f_items[i]) + '\' data-id="' + f_items[i]["eid"] + '" disabled value="' + countt + '" type="text" maxlength="' + f_items[i]["qty"] + '" data-count="' + f_items[i]["qty"] + '">\
                                    <span class="plus"></span>\
                                </div>\
                            </td>');
                        }
                    } else {
                        for (i = 0; i < f_items.length; i++){
                            $this.parents('tr').find('.map_table__places').append("<div class='map_table__row' data-json='" + JSON.stringify(f_items[i]) +"'><div>Ряд " + f_items[i]['r'] {% if user.is_authenticated %} +  '<br />' + f_items[i]['pr'] {% endif %} +  "</div><div>Место " + f_items[i]['s'] + "</div><div>" + f_items[i]['p'] + "</div><div class='book_carryall_tick'><div class='map_table__check' data-hash='" + f_items[i]['id'] + "'></div></div></div>");
                        }

                        for (i = 0; i< added_ticks.length; i++){
                            $('.map_table__check[data-hash=' + added_ticks[i] + ']').addClass('active');
                        }
                    }

                    $('.match_loader').removeClass('active');
                }
            }).done(function(){
                $('.caryall_mini_row').each(function(){
                    $('path[hash=' + $(this).data('hash') + ']').attr('class','active selected');
                });
                $("html, body").animate({ scrollTop: $('[data-slug=' + sector_id + ']').offset().top - 80 }, 1000);
            });
        }
        });

        if (isMobile.any()) {
            // Корзина на странице покупки
            $('.mini_cart_parrent').addClass('active');

            if ($('.map__badge').text() != '0') {
                $('.mobile_cart, .mini_cart').addClass('active');
            }
        }

        function init_scheme_2() {
            var window_width = ($(window).width() / 100) * 90,
                $scheme = document.querySelector('#mapa > svg'),
                viewBox = $scheme.getAttribute('viewBox').split(' ');

            if (window.map_2) window.map_2.remove();

            window.map_2 = L.map('mapa', {
                crs: L.CRS.Simple,
                zoom: 1,
                minZoom: 0,
                maxZoom: 4,
                scrollWheelZoom: false,
            });

            var instant_width = parseInt(viewBox[2], 10),
                instant_height = parseInt(viewBox[3], 10),
                scale = window.innerWidth * .9 / instant_width;

            if (instant_height > instant_width) {
                scale = window.innerWidth * .9  / instant_height
            }

            var width = (window.innerWidth * .8 ),
                height = (window.innerHeight - 300);

            $('#mapa').css('height', height + 100 + 'px');

            L.svgOverlay(
                '#mapa > svg',
                [[0, 0], [(height), (width)]]
            ).addTo(map_2);

            $(".leaflet-control-zoom").stick_in_parent({
                parent: $('#mapa'),
                offset_top: 120
            });

            map_2.fitBounds([[0, 0], [(height + 50), (width)]]);
            map_2.setMaxBounds([[0, 0], [(height + 50), (width)]]);

            var $svg = $('.leaflet-overlay-pane').find('svg'),
                $mapPane = $('.leaflet-map-pane');

            $('#mapa').on('mousedown', function (e) {
                $svg.css('will-change', 'transform');
                $mapPane.css('will-change', 'transform');
            }).on('mouseup', function (e) {
                $svg.css('will-change', 'unset');
                $mapPane.css('will-change', 'unset');
            });
        }

        // Тултип
        if ($('.window_map').length) {
            var $tooltip = $(".window_map");
            addEventListener('mousemove', tellPos, false);

            function tellPos(p) {
                var height = parseInt($tooltip.css('height')),
                    width = parseInt($tooltip.css('width'));
                $tooltip.css({
                    left: p.clientX - width / 2,
                    top: p.clientY - height - 20
                });
            }

            // Появление
            $('body').on("mouseenter", "svg .active, svg .handmade", function(){
                $(".window_map_ac").removeClass("active");

                $tooltip.addClass('active');

                if ($(this).data('id') && !$(this).data('handmade')) {
                    var id = $(this).data('id'),
                        name = $(this).data('name'),
                        count,
                        price;

                    scheme_sectors_count.forEach(function(em) {
                        if (em[0] == id) {
                            price = em[1];
                            count = em[2];
                        }
                    });

                    $('.window_map__sector').removeClass('active');
                    $('.window_map__big').addClass('active');
                    $('.window_map__big .window_map__sec span').html(name);
                    $('.window_map__big .window_map__count').html('<span>' + count + '</span> ' +  declOfNum(count, ['{% trans "билет" %}', '{% trans "билета" %}', '{% trans "билетов" %}']));
                    $('.window_map__big .window_map__pr').html(price);

                    if ($(this).data('is_ours')) {
                        $(".window_map_ac").addClass("active");
                    }
                } else if ($(this).data('ml')) {
                    $('.window_map__sector').removeClass('active');
                    $('.window_map__big').addClass('active');
                    $('.window_map__big .window_map__sec span').html($(this).data('n'));
                    $('.window_map__big .window_map__count').html('<span>' + $(this).data('count') + '</span> ' +  declOfNum($(this).data('count'), ['{% trans "билет" %}', '{% trans "билета" %}', '{% trans "билетов" %}']));
                    $('.window_map__big .window_map__pr').html($(this).data('price'));
                } else {
                    if ($(this).data('handmade')){
                        $('.window_map__big').addClass('active');
                        $('.window_map__big .window_map__sec span').html($(this).data('sector'));
                        $('.window_map__big .window_map__count').html('<span>' + $(this).data('count') + '</span> ' +  declOfNum($(this).data('count'), ['{% trans "билет" %}', '{% trans "билета" %}', '{% trans "билетов" %}']));
                        $('.window_map__big .window_map__pr').html($(this).data('price'));
                    } else {
                        $('.window_map__big').removeClass('active');
                        $('.window_map__sector').addClass('active');
                        $('.window_map__sector .window_map__pr').html($(this).data('price'));
                        $('.window_map__sector .window_map__sec').html($(this).data('sector'));
                        $('.window_map__sector .window_map__row').html($(this).data('row'));
                        $('.window_map__sector .window_map__source').html($(this).data('seller'));
                        $('.window_map__sector .window_map__seat').html($(this).data('seat'));
                        $('.window_map__price.old').removeClass('active')

                        if ($(this).data('ot')){
                            {% if not data.no_sellout %}{% if not data.static.no_sellout %}$('.window_map__sector .window_map__fr').html('Выгодная цена!'); $('.window_map__price.old .window_map__pr').html(Math.round(parseInt($(this).data('price')) / 100 * 120)); $('.window_map__price.old').addClass('active'){% endif %}{% endif %}// no_sellout - {{ data.no_sellout }}
                        } else {
                            $('.window_map__sector .window_map__fr').html('');
                            $('.window_map__price.old').removeClass('active')
                        }
                    }
                }
            });

            // Скрытие
            $('body').on("mouseleave", "svg .active, svg .handmade", function(){
                $tooltip.removeClass('active');
            });
        }

        // Заполнение статичных билетов из корзины на списке
        if ($(".caryall_mini_row-static").length) {
            $(".caryall_mini_row-static").each(function() {
                var id = $(this).data("pr_id"),
                    count = $(this).data("count");

                $(".static_ticket_buy [data-id='" + id + "']").attr("value", count);
            });
        }

    }

    $('.match_loader').addClass('active');

    function start_load() {
        if ($('.map').data('carryallid')) {
            $.ajax({
                url: "{% if data.static.id %}{% url 'engine:match' data.static.static_match.alias data.static.alias %}{% else %}{% url 'engine:match' data.static_match.alias data.alias %}{% endif %}",
                method: "POST",
                data: {type : 'get_map_info', optimize_prices: get_data_flag(), match_id : $('.map').data('carryallid'), csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    scheme_sectors_count = [];
                    data = JSON.parse(data);
                    console.log(data)

                    for (i = 0; i < data.length; i++) {
                        if (data[i]['prices'].length) {
                            scheme_sectors_count.push(
                                [data[i]['slug'],
                                String(data[i]['prices'][0]['min_price']) + '-' + String(data[i]['prices'][0]['max_price']),
                                String(data[i]['prices'][0]['total_count']),
                                data[i]['has_favorable'] ? 1 : 0, data[i]['id'], data[i]['name'],
                                data[i]['only_multiple']]
                            );
                            
                            // Поиск минимальной и максимальной цен для легенды
                            if (data[i]['prices'][0]['min_price'] < legend_min || typeof legend_min === 'undefined') {
                                legend_min = data[i]['prices'][0]['min_price'];
                            }

                            if (data[i]['prices'][0]['min_price'] > legend_max || typeof legend_max === 'undefined') {
                                legend_max = data[i]['prices'][0]['min_price'];
                            }
 
                            
                            // Если это мультибелы, выводим сектор
                            if (data[i]['only_multiple']) {
                                $('.map__condition-list tbody').append('<tr \
                                        data-id="' + data[i]['slug'] + '" \
                                        data-slug="' + data[i]['slug'] + '" \
                                        data-name="' + data[i]['name'] + '" \
                                        data-price="' + data[i]['prices'][0]['min_price'] + '" \
                                        data-count="' + data[i]['prices'][0]['total_count'] + '" \
                                    >\
                                    <td>' + data[i]['name'] + '</td>\
                                    <td>' + data[i]['prices'][0]['total_count'] + '</td>\
                                    <td>' + data[i]['prices'][0]['min_price'] + '</td>\
                                    <td><span class="map_table__show ml">Показать места</span>\
                                    <span class="map_table__show ml">Скрыть места</span></td>\
                                    <td class="map_table__places"></td>\
                                </tr>');
                            } else {
                                $('.map__condition-list tbody').append('<tr data-slug="' + data[i]['slug'] + '" data-id="sector_' + data[i]['slug'] + '">'
                                    + '<td>' + data[i]['name'] + '</td>'
                                    + '<td>' + String(data[i]['prices'][0]['total_count']) + '</td>'
                                    + '<td>' + (String(data[i]['prices'][0]['min_price']) == String(data[i]['prices'][0]['max_price']) ? String(data[i]['prices'][0]['min_price']) : String(data[i]['prices'][0]['min_price']) + '-' + String(data[i]['prices'][0]['max_price'])) + '</td>'
                                    + '<td><span class="map_table__show">{% trans "Показать места" %}</span><span class="map_table__show">{% trans "Скрыть места" %}</span></td>'
                                    + '<td class="map_table__places"></td></tr>');
                            }
                        }
                    }
                    $('.match_loader').removeClass('active');
                    init_all();
                }
            })
        } else {
            {% if not data.carryall_id and not data.static_tickets.all|length and not data.match_is_past %}
                $(".mobile_info").addClass("active");
                callback_match_info.name = "{{ data.name }}"
                callback_match_info.datetime = "{{ data.datetime|date:'Y-m-d H:i' }}"
            {% endif %}

            scheme_sectors_count = [];
            $('.match_loader').removeClass('active');
            init_all();
        }
    }

    start_load();
});
</script>
<style>
    .map_place.is_ours {
        fill: #5fafff;
    }
    .corporate__textarea {
        text-align: center;
        margin: 20px 0;
    }
    .modal__callback {
        height: auto;
    }
{% if not data.no_sellout %}
    {% if not data.static.no_sellout %}
        .map .sector_popup path.active[data-ot="true"] {
            fill: #d91621 !important;
            stroke: #d91621 !important;
        }
        #mapa #crocus .active[data-ot="true"] {
            fill: #80b55c !important;
            stroke: #80b55c !important;
        }
        @media(max-width: 1024px){
            #mapa #crocus .active[data-ot="true"]:hover {
            fill: #80b55c !important;
            }
        }
        .map_place.is_ours {
            fill: #80b55c;
        }
    {% endif %}
{% endif %}
{% if not data.carryall_id and not data.static_tickets.all|length %}
    .match_nav, .switch, .kids_block {
        display: none;
    }
{% endif %}
{% if data.static_tickets.all %}
    {% for i in data.static_tickets.all %}
        {% if i.light_sectors %}
        {% for s in i.light_s %}{% if forloop.last %}#{{ s }} polygon, #{{ s }} rect, #{{ s }} path{% else %}#{{ s }} polygon, #{{ s }} rect, #{{ s }} path,{% endif %}{% endfor %}{
            stroke: {{ i.color }};
            stroke-width: 1px;
            fill: {{ i.color }};
        }
        {% endif %}
    {% endfor %}
{% endif %}
    svg > g {
        transition: all 600ms ease;
        cursor: pointer;
    }
</style>
{% endblock %}