{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="matches_page minimum">
    <div class="match__head">
        <span>{% trans "Матчи" %}</span>
    </div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Главная" %}</a>
            <span>{% trans "Матчи" %}</span>
        </div>
        <div class="match_tabs" style="width: 40%; margin: 20px auto 0;">
            <div class="switch">
                <div data-id="1" class="switch__element active">
                    Будущие матчи
                </div>
                <div data-id="2" class="switch__element">
                    Прошедшие матчи
                </div>
            </div>
        </div>
        <div class="match_list map__condition active" data-id="1">
        {% if next %}
            {% for m in next %}
                {% include "_match-item-matches.html" %}
            {% endfor %}
        {% else %}
            <h2 style="font-size: 20px;">Матчей нет</h2>
        {% endif %}
        {% if next.has_next or next.has_previous %}
            <div class="search_nav">
                <div class="search_nav__help">{{ next.start_index }}—{{ next.end_index }}</div>
                {% if next.has_previous %}
                <a href="?next={{ next.previous_page_number }}"><div class="search_nav__next">← назад</div></a>
                {% endif %}
                <div class="search_nav__navs">
                    {% for pag in next.paginator.page_range %}
                        {% if pag == next.number %}
                            <div class="search_nav__nav">{{ pag }}</div>
                        {% else %}
                            <a href="?next={{ pag }}"><div class="search_nav__nav">{{ pag }}</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if next.has_next %}
                <a href="?next={{ next.next_page_number }}"><div class="search_nav__next">далее →</div></a>
                {% endif %}
            </div>
        {% endif %}
        </div>
        <div class="match_list map__condition" data-id="2">
        {% if prev %}
        {% for m in prev %}
            {% include "_match-item-matches_lte.html" %}
        {% endfor %}
        {% else %}
            <h2 style="font-size: 20px;">Матчей нет</h2>
        {% endif %}
        {% if prev.has_next or prev.has_previous %}
            <div class="search_nav">
                <div class="search_nav__help">{{ prev.start_index }}—{{ prev.end_index }}</div>
                {% if prev.has_previous %}
                <a href="?prev={{ prev.previous_page_number }}"><div class="search_nav__next">← назад</div></a>
                {% endif %}
                <div class="search_nav__navs">
                    {% for pag in prev.paginator.page_range %}
                        {% if pag == prev.number %}
                            <div class="search_nav__nav">{{ pag }}</div>
                        {% else %}
                            <a href="?prev={{ pag }}"><div class="search_nav__nav">{{ pag }}</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if prev.has_next %}
                <a href="?prev={{ prev.next_page_number }}"><div class="search_nav__next">далее →</div></a>
                {% endif %}
            </div>
        {% endif %}
        </div>
        <article class="content seo_text">
            <h1>{{ data.seo_h1 }}</h1>
            {% if data.content %}
            {{ data.content|safe }}
            {% endif %}
            <table class="matches_for_index">
                <tbody>
                {% for m in upcoming_matches %}
                    {% ifchanged m.datetime.month %}
                    <tr>
                        <td class="matches_for_index_title" colspan="4">{% if sitesettings.main_champ.all %}Расписание хоккейных матчей{% else %}Билеты на матчи {{ sitesettings.main_team.name }}{% endif %} на {{ m.datetime|date:"F Y" }} года</td>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <th>Матч</th>
                        <th>Город</th>
                        <th>Наличие билетов</th>
                    </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ m.datetime|date:"d.m.Y" }}</td>
                        <td><a href="{% url 'engine:match' m.static_match.alias m.alias %}">{{ m.command_first.name }} - {{ m.command_second.name }}</a></td>
                        <td>{{ m.stadium.city.name }}</td>
                        <td>{% if m.carryall_id or m.static_tickets.all|length %}{% trans "Доступно" %}{% else %}{% trans "Не доступно" %}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </div>
</div>
{% endblock %}
{% comment %}<a href="{% url 'engine:match_preview' m.static_match.alias %}" class="matches_page__match">{% if m.command_first.logo %}<img width="35px" src="https://footballengine.tix-system.com/media/teams/{{ m.command_first.logo }}">{% endif %}<span>{{ m.command_first.name }} - {{ m.command_second.name }}</span>{% if m.command_second.logo %}<img width="35px" src="https://footballengine.tix-system.com/media/teams/{{ m.command_second.logo }}">{% endif %}</a>{% endcomment %}