{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ seo_title.static }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ seo_description.static }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ seo_keywords.static }}{% endif %}">
{% endblock %}

{% block container %}
<div class="matches_page minimum">
    <div class="match__head">
        <div class="mathc__w">
        {% if data.command_first.logo %}<a href='{% url "main:team" data.command_first.alias %}'><img width="100px" src="https://footballengine.tix-system.com/media/teams/{{ data.command_first.logo }}"></a>{% endif %}
        {{ data.command_first.name }} - {{ data.command_second.name }}
        {% if data.command_second.logo %}<a href='{% url "main:team" data.command_second.alias %}'><img width="100px" src="https://footballengine.tix-system.com/media/teams/{{ data.command_second.logo }}"></a>{% endif %}
        </div>
    </div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <span>{{ data.command_first.name }} - {{ data.command_second.name }}</span>
        </div>
        <h1 class="match__h1">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ seo_h1.static }}{% endif %}</h1>
        {% if matches_gte %}<div class="championat__wrp"><h2 class="match__h1">Следующие матчи</h2></div>{% endif %}
        <div class="championat">
            <div class="championat__wrp">
                {% for m in matches_gte %}
                    {% include "_match-item-matches2.html" %}
                {% endfor %}
            </div>
        <article class="seo_text">
            {% if data.content %}{{ data.content|safe }}{% else %}{{ seo_content|safe }}{% endif %}
        </article>
        <div class="championat">
            {% if matches_lte %}<div class="championat__wrp"><h2 class="match__h1">Прошедшие матчи</h2></div>{% endif %}
            {% for m in matches_lte %}
                {% include "_match-item-matches_lte.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}