{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="team_page minimum">
    <div class="match__head"><span>{{ data.name }}</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <a href="/news/">{% trans "Новости" %}</a>
            <span>{{ data.name }}</span>
        </div>
        <h1 class="match__h1">{{ data.seo_h1 }}</h1>
    </div>
    <div class="seo_text seo_text-text">
        <div class="wrapper">
            <article class="seo_text">{{ data.content|safe }}</article>
        </div>
    </div>
</div>
{% endblock %}