{% extends "_base.html" %}

{% load static i18n %}

{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="seasons_page minimum">
    <div class="match__head"><span>{% trans "Новости" %} {% if sitesettings.site_logo_text %}{{ sitesettings.site_logo_text }}{% endif %}</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <span>{% trans "Новости" %}</span>
        </div>
        <h1 class="match__h1">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
        <div class="news_list">
            {% for i in news %}
                <article class="news__slide news__slide-text_page">
                    <div class="news__image" style="background: url(
                                {% if i.image %}
                                    {{ i.image.url }}
                                {% else %}
                                    {% if sitesettings.news_logo %}
                                        {{ sitesettings.news_logo.url }}
                                    {% elif sitesettings.banner_main %}
                                        {{ sitesettings.banner_main.url }}
                                    {% endif %}
                                {% endif %}) center no-repeat; background-size: cover;"></div>
                    <div class="news__right">
                        <h3 class="news__h3">{{ i.name }}</h3>
                        <div class="news__text">{{ i.content|safe|striptags|truncatechars:140 }}</div>
                        <a href="{% url 'engine:news_item' i.alias %}" class="support__button support__button-news">{% trans "Подробнее" %}</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}