{% extends "_base.html" %}

{% load static i18n %}

{% block container %}
<div class="success minimum">
    <h1 class="success__h1">{% trans "Поздравляем! Заказ успешно оформлен" %}!</h1>
    <div class="success__text">{% trans "В ближайшее время оператор свяжется с Вами для уточнения деталей" %}</div>
    {% if sitesettings.success %}
        <img src="{{ sitesettings.success.url }}" alt="">
    {% else %}
        <img src="{% static 'img/success.svg' %}" alt="">
    {% endif %}
    <a href="/" class="success__button">{% trans "Вернуться на главную" %}</a>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    $('.remove_ticket').each(function() {
        $( this ).trigger('click');
    });
});
</script>
{% endblock %}