{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parser</title>
</head>
<body>
{% if user.is_authenticated %}
<!--<div class="">-->
    <!--<span>Спарсить чемпионат</span>-->
    <!--<input type="text" name="url">-->
<!--</div>-->
<div>
    <span>Спарсить матч</span>
    <input type="text" name="custom_urls">
</div>
<div>
    <span style="display: block">
        Вид спорта
    </span>
{% for i in sports %}
    <label>
        {{ i.1 }} <input type="radio" name="type" value="{{ i.0 }}" {% if i.0 == 1 %}checked{% endif %}>
    </label>
{% endfor %}
</div>
<button class="gogo">поехали!</button>
<div class="">
    <span>Обновить счета и статистку прошедших матчей</span>
    <button class="update_paste">Обновить счета</button>
</div>
<input type="hidden" name="csrf" value="{{ c.csrf_token }}">
<script src="{% static 'js/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(document).ready(function () {
        $('.gogo').click(function () {
            sport = $('[name=type]:checked').val()
            urll = $('[name=url]').val()
            custom_urls = $('[name=custom_urls]').val()
            $.ajax({
                url: '/parse/',
                method: "POST",
                data: { type : 'parse', sport : sport, urll : urll, custom_urls : custom_urls, csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    console.log('YES')
                    alert(data)
                }
            })
        })
         $('.update_paste').click(function () {
            $.ajax({
                url: '/parse/',
                method: "POST",
                data: { type : 'update_paste', csrfmiddlewaretoken: getCookie('csrftoken')},
                success: function (data, textStatus){
                    console.log('YES')
                    alert(data)
                }
            })
         })
    })
</script>
{{ tot_created }}
{% else %}
404
{% endif %}
</body>
</html>