{% if to_lvl_3 %}
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for u in urls %}
    <sitemap><loc>{{ u }}</loc></sitemap>
    {% endfor %}
</sitemapindex>
{% else %}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for u in urls %}
    <url><loc>{{ u }}</loc></url>
    {% endfor %}
</urlset>
{% endif %}