{% extends "_base.html" %}

{% load static i18n %}

{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{% trans "Спасибо за заказ! ваш номер заказа" %} {{ item }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="success minimum">
    <h1 class="success__h1">{% trans "Поздравляем! Заказ успешно оформлен!" %}</h1>
    <div class="success__text">{% trans "В ближайшее время оператор свяжется с Вами для уточнения деталей" %}</div>
    <div class="success__order">{% trans "Ваш заказ" %} <span>#{{ item }}</span></div>
    {% if sitesettings.success %}
        <img src="{{ sitesettings.success.url }}" alt="">
    {% else %}
        <img src="{% static 'img/success.svg' %}" alt="">
    {% endif %}
    <a href="/" class="success__button">{% trans "Вернуться на главную" %}</a>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function(){
//        $('.remove_ticket').each(function() {
//            $(this).trigger('click');
//        });

        setTimeout(function () {
            {% if sitesettings.metrics_yandex %}
                if (window.hasOwnProperty('yaCounter{{ sitesettings.metrics_yandex }}')) {
                    yaCounter{{ sitesettings.metrics_yandex }}.reachGoal('order');

                    dataLayer.push({
                        "ecommerce": {
                            "purchase": {
                                "actionField": {
                                    "id" : "{{ item }}"
                                },
                                "products": JSON.parse(localStorage.getItem('ya_array'))
                            }
                        }
                    });
                }
            {% endif %}

            {% if sitesettings.metrics_google %}
                gtag('event', 'buy', { 'event_category': 'order' });

                gtag('event', 'purchase', {
                    "transaction_id": '{{ item }}',
                    "value": JSON.parse(localStorage.getItem('total_price')),
                    "currency": "RUB",
                    "items": JSON.parse(localStorage.getItem('gtag_array'))
                });
            {% endif %}

            localStorage.removeItem('gtag_array');
            localStorage.removeItem('ya_array');
            localStorage.removeItem('total_price');
        }, 1000);
    });
</script>
{% endblock %}