{% extends "_base.html" %}

{% load static i18n %}

{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block container %}
<div class="team_page minimum">
    <div class="match__head"><span>{% if sitesettings.main_champ %}{% trans "Команды Чемпионата" %}{% else %}{% trans "Чемпионаты с участием" %} {% if sitesettings.main_banner_text %}{{ sitesettings.main_banner_text }}{% endif %}{% endif %}</span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %} {% if sitesettings.main_banner_text %}{{ sitesettings.main_banner_text }}{% endif %}</a>
            <span>
                {% if data.seo_h1 %}
                    {{ data.seo_h1 }}   
                {% else %}
                    {% trans "Команды" %}
                {% endif %}
            </span>
        </div>
        <div class="ch__wrp">
            <h1 class="match__h1">
                {% if data.seo_h1 %}
                    {{ data.seo_h1 }}
                {% else %}
                    {% trans "Команды" %}
                {% endif %}
            </h1>
            {% for c in champs %}
                {% if c.image %}<img class="ch__top_img" src="{{ c.image.url }}" alt="{{ c.name }}" title="{{ c.name }}">{% endif %}
                <div class="ch__teams">
                    {% for item in c.teams.all %}
                        <a href="/teams/{{ item.alias }}/" class="ch__team" >
                            {% if item.logo2 %}<img src="{{ item.logo2.url }}">{% endif %}
                            <div class="champ_text">{{ item.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% include "_corporate_form.html" %}
    </div>
</div>
{% endblock %}