{% extends "_base.html" %}
{% load i18n %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ seo_title.team }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ seo_description.team }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ seo_keywords.team }}{% endif %}">
{% endblock %}

{% block container %}
<div class="seasons_page minimum">
    <div class="match__head"><span>{{ data.name }}<img width="70px" style="position: relative; top: 15px;" src="https://footballengine.tix-system.com/media/teams/{{ data.logo }}"></span></div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <a href="/">{% trans "Билеты на матчи" %}</a>
            <a href="/teams/">{% trans "Команды" %}</a>
            <span>{{ data.name }}</span>
        </div>
        <h1 class="match__h1">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ seo_h1.team }}{% endif %}</h1>
        {% if matches %}<h2 class="match__h1">{% trans "Предстоящие матчи" %}</h2>{% endif %}
        <div class="matches_page__matches_page">
            <div class="matches_page__wrp">
                {% for m in matches %}
                    {% include "_match-item-matches.html"%}
                {% endfor %}
            </div>
        </div>
        <article class="content seo_text" style="font-size: 16px;">
            {% if data.content %}{{ data.content|safe }}{% endif %}
        </article>
    </div>
</div>
{% endblock %}