{% load static i18n %}

{% if sitesettings.canvas or data.canvas %}
    <div class="canvas-holder">
        <canvas id="map">
            Ваш браузер не поддерживает элемент canvas.
        </canvas>
        <div class="zoom-control">
            <button type="button" class="plus active">+</button>
            <button type="button" class="minus">-</button>
        </div>
        <div class="canvas_guide_container">
            <canvas id="canvas_guide">
                Ваш браузер не поддерживает элемент canvas.
            </canvas>
        </div>
        <div id="tooltip" class="tooltip-window"></div>
    </div>
{% else %}
    <div id="map">
        {{ svg|safe }}
    </div>
{% endif %}

<div class="sector_popup">
    <div class="sector_popup__center">
        <div class="sector_popup__name"></div>
        {% if sitesettings.legend %}
            <div class="legend_filter legend_filter-sector">
                {% include "inc/legend_filter.html" %}
            </div>
        {% endif %}
    </div>
    <div class="backward sector_popup__close">
        <div class="backward__wrp">
            <img class="map__scheme-img" src="{% static 'img/map__back.svg' %}" alt="">
        </div>
        <span class="tip">{% trans "Вернуться" %} <br /> {% trans "к выбору сектора" %}</span>
    </div>
    <div class="map_profit map_profit-ot">
        <div class="green_seats">
            <div class="map_profit__text">{% trans "Зеленые места - лучшее по соотношению цена-качество" %}.</div>
            <div class="map_profit__circles">
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle map_profit__circle-normal"></div>
                <div class="map_profit__circle map_profit__circle-profit"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle map_profit__circle-normal"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle"></div>
            </div>
        </div>
        <div class="purple_seats" style="margin-top: 10px; padding-right: 45px; background: url({% static 'img/vip_red.jpg'%}) no-repeat; background-size: 30px; text-align: center; background-position: 100% 10px;">
            <div class="map_profit__text">{% trans "Фиолетовые места - Места категории ICE с доступом в в ресторанную зону напротив сектора 212" %}</div>
            <div class="map_profit__circles">
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle map_profit__circle-normal"></div>
                <div class="map_profit__circle map_profit__circle-profit-st"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle map_profit__circle-normal"></div>
                <div class="map_profit__circle"></div>
                <div class="map_profit__circle"></div>
            </div>
        </div>
    </div>
    <!--<div class="map_profit map_profit-ot">-->
        <!--<div class="map_profit__title">{% trans "УСПЕЙ КУПИТЬ" %}</div>-->
        <!--<div class="map_profit__text">{% trans "Выбирайте фиолетовые места на схеме - наилучшие места по соотношению цена-качество" %}.</div>-->
        <!--<div class="map_profit__circles">-->
            <!--<div class="map_profit__circle"></div>-->
            <!--<div class="map_profit__circle"></div>-->
            <!--<div class="map_profit__circle"></div>-->
            <!--<div class="map_profit__circle map_profit__circle-normal"></div>-->
            <!--<div class="map_profit__circle map_profit__circle-profit"></div>-->
            <!--<div class="map_profit__circle"></div>-->
            <!--<div class="map_profit__circle map_profit__circle-normal"></div>-->
            <!--<div class="map_profit__circle"></div>-->
            <!--<div class="map_profit__circle"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="mapa" class="mapa"></div>
</div>