{% load static  %}
{% if sitesettings.sendsay_basket_json %}
    <script type="text/javascript">(function(d,w,t,u,o,s,v) {w[o] = w[o] || function() {(w[o].q = w[o].q || []).push(arguments)};s = d.createElement("script");s.async = 1;s.src = u;v = d.getElementsByTagName(t)[0]; v.parentNode.insertBefore(s, v);})(document,window,"script","//image.sendsay.ru/js/target/tracking.js","sndsy");sndsy("init", { fid: "{{ sitesettings.sendsay_basket_json.fid }}", v: "1.0" });sndsy("send", {});</script><script type="text/javascript">sndsyData = {SET_KEY: "{{ sitesettings.sendsay_basket_json.s_key }}",VERSIONING_KEY: "{{ sitesettings.sendsay_basket_json.v_key }}"};</script>
    <script type="text/javascript" async="" src="https://image.sendsay.ru/js/basket/basket.js"></script>
{% endif %}
<script>
    function sendsayCart () {
        {% if sitesettings.sendsay_basket_json %}
            if (typeof sndsyApi != 'undefined'){
                var tickets = cartStore.state.tickets,
                    sendsay_array = new Array();

                    Object.values(tickets).forEach(function(em) {
                        sendsay_array.push({
                            'id': em.d_id,
                            'count': em.count,
                            'price': parseInt(em.price)
                        });
                    });

                sndsyApi.basketUpdate(sendsay_array)
            }
        {% endif %}
    }
</script>
{% if sitesettings.sendsay_webpush_json %}
    <script type="text/javascript">(function(d,w,t,u,o,s,v) {w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) };s = d.createElement("script");s.async = 1;s.src = u;v = d.getElementsByTagName(t)[0];v.parentNode.insertBefore(s, v);})(document,window,"script","https://image.sendsay.ru/js/push/push.js","sendsay_push");sendsay_push("init", { v: "1.0", "fid": "{{ sitesettings.sendsay_webpush_json.fid }}", "app_server_key": "{{ sitesettings.sendsay_webpush_json.key }}", "backend": "https://sendsay.ru/backend/push", "sw": "/sendsay_push_sw.js", "delay": "300","list": "{{ sitesettings.sendsay_webpush_json.list }}",});sendsay_push("subscribe");</script>
{% endif %}