{% load static i18n %}

<div class="utps__wrapper">
    <article class="utps__utp">
        <div class="utps__img">
            <img src="{% static 'img/utps__img-1.svg' %}" alt="">
        </div>
        <div class="utps__right">
            <span class="utps__h2">{% trans "Лучшие места" %}</span>
            <div class="utps__text">{% trans "Выбирайте места с наилучшим обзором, оформляйте заказ и отправляйтесь на матчи" %}!</div>
        </div>
    </article>
    <article class="utps__utp">
        <div class="utps__img">
            <img src="{% static 'img/utps__img-2.svg' %}" alt="">
        </div>
        <div class="utps__right">
            <span class="utps__h2">{% trans "Лучшие цены" %}</span>
            <div class="utps__text">{% trans "На матчи есть билеты с горящей ценой" %}. <br />{% trans "Эти места выделены на схеме" %} <span class="green">{% trans "зеленым" %}</span></div>
        </div>
    </article>
    <article class="utps__utp">
        <div class="utps__img">
            <img src="{% static 'img/utps__img-3.svg' %}" alt="">
        </div>
        <div class="utps__right">
            <span class="utps__h2">{% trans "Гарантии" %}</span>
            <div class="utps__text">{% trans "Гарантии" %} <span class="blue">{% trans "подлинности" %}</span> {% trans "билетов и своевременность доставки – наша ответственность" %}</div>
        </div>
    </article>
</div>